	.mediaViewInfo {
		--web-view-name: מסך 2 – 1;
		--web-view-id: _2__1;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	:root {
		--web-view-ids: _2__1;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#_2__1 {
		position: absolute;
		width: 273px;
		height: 567px;
		background-color: rgba(255,255,255,0);
		overflow: hidden;
		--web-view-name: מסך 2 – 1;
		--web-view-id: _2__1;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	#Rectangle_10 {
		fill: rgba(255,255,255,1);
	}
	.Rectangle_10 {
		filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.31));
		position: absolute;
		overflow: visible;
		width: 248px;
		height: 166px;
		left: 26px;
		top: 200px;
	}
	#Component_1__4 {
		position: absolute;
		width: 273px;
		height: 40px;
		left: 0px;
		top: 510px;
		overflow: visible;
	}
	#Rectangle_8 {
		fill: rgba(253,0,16,1);
	}
	.Rectangle_8 {
		position: absolute;
		overflow: visible;
		width: 273px;
		height: 40px;
		left: 0px;
		top: 0px;
	}
	#_ {
		left: 103px;
		top: 10px;
		position: absolute;
		overflow: visible;
		width: 55px;
		white-space: nowrap;
		line-height: 32px;
		margin-top: -7.5px;
		text-align: center;
		font-family: Heebo;
		font-style: normal;
		font-weight: bold;
		font-size: 17px;
		color: rgba(255,255,255,1);
	}
	#\\ {
		left: 109px;
		top: 162px;
		position: absolute;
		overflow: visible;
		width: 57px;
		white-space: nowrap;
		line-height: 43px;
		margin-top: -10px;
		text-align: center;
		font-family: Heebo;
		font-style: normal;
		font-weight: normal;
		font-size: 23px;
		color: rgba(0,0,0,1);
	}
	#__w {
		left: 164px;
		top: 232px;
		position: absolute;
		overflow: visible;
		width: 68px;
		white-space: nowrap;
		line-height: 34px;
		margin-top: -10.5px;
		text-align: right;
		font-family: Heebo;
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		color: rgba(0,0,0,1);
	}
	#__x {
		left: 169px;
		top: 286px;
		position: absolute;
		overflow: visible;
		width: 63px;
		white-space: nowrap;
		line-height: 34px;
		margin-top: -10.5px;
		text-align: right;
		font-family: Heebo;
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		color: rgba(0,0,0,1);
	}
	#__y {
		left: 105px;
		top: 359px;
		position: absolute;
		overflow: visible;
		width: 59px;
		white-space: nowrap;
		line-height: 34px;
		margin-top: -10.5px;
		text-align: right;
		font-family: Heebo;
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		color: rgba(0,0,0,1);
	}
	#Line_23 {
		fill: transparent;
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_23 {
		overflow: visible;
		position: absolute;
		width: 91.345px;
		height: 1px;
		left: 63.942px;
		top: 247.822px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_24 {
		fill: transparent;
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_24 {
		overflow: visible;
		position: absolute;
		width: 93.865px;
		height: 1px;
		left: 64.176px;
		top: 299.73px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_25 {
		fill: transparent;
		stroke: rgba(0,0,0,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_25 {
		overflow: visible;
		position: absolute;
		width: 65px;
		height: 2px;
		left:104px;
		top: 378.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#_ba {
		left: 34px;
		top: 40px;
		position: absolute;
		overflow: visible;
		width: 67px;
		white-space: nowrap;
		line-height: 25px;
		margin-top: -6px;
		text-align: center;
		font-family: Heebo;
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		color: rgba(113,113,113,1);
	}
	#Line_48 {
		fill: transparent;
		stroke: rgba(113,113,113,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_48 {
		overflow: visible;
		position: absolute;
		width: 133.319px;
		height: 2px;
		left: -1.634px;
		top: 64.539px;
		transform: matrix(1,0,0,1,0,0);
	}
	#__ {
		left: 153px;
		top: 40px;
		position: absolute;
		overflow: visible;
		width: 103px;
		white-space: nowrap;
		line-height: 25px;
		margin-top: -6px;
		text-align: center;
		font-family: Heebo;
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		color: rgba(253,0,16,1);
	}
	#Line_49 {
		fill: transparent;
		stroke: rgba(253,0,16,1);
		stroke-width: 3px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_49 {
		overflow: visible;
		position: absolute;
		width: 130.389px;
		height: 3px;
		left: 142.94px;
		top: 64.539px;
		transform: matrix(1,0,0,1,0,0);
	}

#login_form{
	margin-top: 150px;
}
	#form
	{
		text-align: right;
		font-family: Heebo;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(0,0,0,1);
		filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.31));
		position: absolute;
		overflow: visible;
		width: 220px;
		height: 155px;
		left: 26px;
		top: 200px;
		fill: rgba(255,255,255,1);
		border-radius: 10%;

	}
	.error
{     
    color:red;     
    font-size: 12px; 
} 
 