.mediaViewInfo {
  --web-view-name: מסך 1;
  --web-view-id: _1;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
:root {
  --web-view-ids: _1;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
#_1 {
  position: absolute;
  width: 273px;
  height: 563px;
  background-color: rgba(255,255,255,1);
  overflow: hidden;
  --web-view-name: מסך 1;
  --web-view-id: _1;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
#Rectangle_72 {
  fill: rgba(113,113,113,1);
}
.Rectangle_72 {
  position: absolute;
  overflow: visible;
  width: 275px;
  height: 543px;
  left: 0px;
  top: 26px;
}
#Rectangle_2 {
  fill: rgba(255,255,255,1);
  stroke: rgba(112,112,112,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_2 {
  filter: drop-shadow(5px 20px 30px rgba(71, 71, 71, 0.169));
  position: absolute;
  overflow: visible;
  width: 302px;
  height: 354px;
  left: 28px;
  top: 131px;
}
#Neighor_Aid__GPS_______ {
  left: 49px;
  top: 156px;
  position: absolute;
  overflow: visible;
  width: 165px;
  white-space: nowrap;
  line-height: 29px;
  margin-top: -3.5px;
  text-align: center;
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  color: rgba(112,112,112,1);
}
#Rectangle_3 {
  fill: rgba(253,0,16,1);
}
.Rectangle_3 {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
  position: absolute;
  overflow: visible;
  width: 129px;
  height: 48px;
  left: 72px;
  top: 274px;
}
#\\ {
  left: 107px;
  top: 280px;
  position: absolute;
  overflow: visible;
  width: 39px;
  white-space: nowrap;
  line-height: 22px;
  margin-top: -4px;
  text-align: center;
  font-family: Heebo;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: rgba(255,255,255,1);
}
#_ {
  left: 107px;
  top: 330px;
  position: absolute;
  overflow: visible;
  width: 41px;
  white-space: nowrap;
  line-height: 17px;
  margin-top: -4.5px;
  text-align: center;
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  color: rgba(112,112,112,1);
}
#Line_1 {
  fill: transparent;
  stroke: rgba(112,112,112,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_1 {
  overflow: visible;
  position: absolute;
  width: 58.156px;
  height: 1px;
  left: 98.606px;
  top: 343.133px;
  transform: matrix(1,0,0,1,0,0);
}
#Neigbhor_Aid {
  left: 83.284px;
  top: 519.831px;
  position: absolute;
  overflow: visible;
  width: 99px;
  white-space: nowrap;
  line-height: 20px;
  margin-top: -1.5px;
  text-align: left;
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  color: rgba(255,255,255,1);
}
#Group_33 {
  position: absolute;
  width: 50.255px;
  height: 57.533px;
  left: 112.764px;
  top: 455.657px;
  overflow: visible;
}
#Group_29 {
  position: absolute;
  width: 11.039px;
  height: 11.039px;
  left: 17.651px;
  top: 20.141px;
  overflow: visible;
}
#Rectangle_66 {
  fill: rgba(255,29,37,1);
}
.Rectangle_66 {
  position: absolute;
  overflow: visible;
  width: 3.793px;
  height: 11.039px;
  left: 3.623px;
  top: 0px;
}
#Rectangle_67 {
  fill: rgba(255,29,37,1);
}
.Rectangle_67 {
  width: 3.793px;
  height: 11.039px;
  position: absolute;
  overflow: visible;
  transform: translate(0px, 0px) matrix(1,0,0,1,3.6235,-0.2571) rotate(90deg);
  transform-origin: center;
  left: 7.8px;
}
#Group_30 {
  position: absolute;
  width: 50.255px;
  height: 57.533px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Path_86 {
  fill: rgba(255,255,255,1);
}
.Path_86 {
  overflow: visible;
  position: absolute;
  width: 46.204px;
  height: 24.509px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_87 {
  fill: rgba(255,255,255,1);
}
.Path_87 {
  overflow: visible;
  position: absolute;
  width: 35.144px;
  height: 30.435px;
  left: 6.307px;
  top: 27.099px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_88 {
  fill: rgba(255,255,255,1);
}
.Path_88 {
  overflow: visible;
  position: absolute;
  width: 4.054px;
  height: 4.01px;
  left: 43.334px;
  top: 42.735px;
  transform: matrix(1,0,0,1,0,0);
}
#Ellipse_23 {
  fill: rgba(255,255,255,1);
}
.Ellipse_23 {
  position: absolute;
  overflow: visible;
  width: 4.233px;
  height: 4.233px;
  left: 43.334px;
  top: 42.497px;
}
#Path_89 {
  fill: rgba(255,255,255,1);
}
.Path_89 {
  overflow: visible;
  position: absolute;
  width: 9.61px;
  height: 9.61px;
  left: 40.645px;
  top: 39.808px;
  transform: matrix(1,0,0,1,0,0);
}

#Group_29_be {
  position: absolute;
  width: 3.84px;
  height: 3.84px;
  left: 7.5px;
  top: 7.005px;
  overflow: visible;
}
#Rectangle_66_bf {
  fill: rgba(255,29,37,1);
}
.Rectangle_66_bf {
  position: absolute;
  overflow: visible;
  width: 1.319px;
  height: 3.84px;
  left: 1.26px;
  top: 0px;
}
#Rectangle_67_bg {
  fill: rgba(255,29,37,1);
}
.Rectangle_67_bg {
  width: 1.319px;
  height: 3.84px;
  position: absolute;
  overflow: visible;
  transform: translate(0px, 0px) matrix(1,0,0,1,1.2602,-0.0894) rotate(90deg);
  transform-origin: center;
}
#Group_30_bh {
  position: absolute;
  width: 17.479px;
  height: 20.01px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Path_86_bi {
  fill: rgba(255,255,255,1);
}
.Path_86_bi {
  overflow: visible;
  position: absolute;
  width: 16.07px;
  height: 8.524px;
  left: 1.409px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_87_bj {
  fill: rgba(255,255,255,1);
}
.Path_87_bj {
  overflow: visible;
  position: absolute;
  width: 12.223px;
  height: 10.585px;
  left: 3.062px;
  top: 9.425px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_88_bk {
  fill: rgba(255,255,255,1);
}
.Path_88_bk {
  overflow: visible;
  position: absolute;
  width: 1.41px;
  height: 1.395px;
  left: 0.997px;
  top: 14.863px;
  transform: matrix(1,0,0,1,0,0);
}
#Ellipse_23_bl {
  fill: rgba(255,255,255,1);
}
.Ellipse_23_bl {
  position: absolute;
  overflow: visible;
  width: 1.472px;
  height: 1.472px;
  left: 0.935px;
  top: 14.78px;
}
#Path_89_bm {
  fill: rgba(255,255,255,1);
}
.Path_89_bm {
  overflow: visible;
  position: absolute;
  width: 3.342px;
  height: 3.342px;
  left: 0px;
  top: 13.845px;
  transform: matrix(1,0,0,1,0,0);
}

