.mediaViewInfo {
  --web-view-name: מסך 3;
  --web-view-id: _3;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
:root {
  --web-view-ids: _3;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
#_3 {
  position: absolute;
  width: 275px;
  height: 567px;
  background-color: rgba(255,255,255,0);
  overflow: hidden;
  --web-view-name: מסך 3;
  --web-view-id: _3;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
#Rectangle_9 {
  fill: rgba(255,255,255,1);
  stroke: rgba(112,112,112,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_9 {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.302));
  position: absolute;
  overflow: visible;
  width: 101px;
  height: 102px;
  left: 96px;
  top: 339px;
}
#__ {
  left: 80px;
  top: 90px;
  position: absolute;
  overflow: visible;
  width: 111px;
  white-space: nowrap;
  line-height: 22px;
  margin-top: -4px;
  text-align: center;
  font-family: Heebo;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: rgba(0,0,0,1);
}
#_ {
  left: 195px;
  top: 204px;
  position: absolute;
  overflow: visible;
  width: 69px;
  white-space: nowrap;
  line-height: 25px;
  margin-top: -6px;
  text-align: center;
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  color: rgba(0,0,0,1);
}
#\\ {
  left: 235px;
  top: 252px;
  position: absolute;
  overflow: visible;
  width: 29px;
  white-space: nowrap;
  line-height: 25px;
  margin-top: -6px;
  text-align: center;
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  color: rgba(0,0,0,1);
}
#___ {
  left: 154px;
  top: 303px;
  position: absolute;
  overflow: visible;
  width: 107px;
  white-space: nowrap;
  line-height: 23px;
  margin-top: -5.5px;
  text-align: center;
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: rgba(0,0,0,1);
}
#Line_19 {
  fill: transparent;
  stroke: rgba(112,112,112,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_19 {
  overflow: visible;
  position: absolute;
  width: 114.52px;
  height: 1px;
  left: 79.453px;
  top: 219.932px;
  transform: matrix(1,0,0,1,0,0);
}
#______________ {
  left: 149px;
  top: 256px;
  position: absolute;
  overflow: visible;
  width: 83px;
  white-space: nowrap;
  line-height: 25px;
  margin-top: -6px;
  text-align: center;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  color: rgba(0,0,0,1);
}
#Group_8 {
  position: absolute;
  width: 35.057px;
  height: 37.962px;
  left: 119.462px;
  top: 357.972px;
  overflow: visible;
}
#Path_31 {
  fill: rgba(0,0,0,0);
  stroke: rgba(35,31,32,1);
  stroke-width: 3.312570095062256px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_31 {
  overflow: visible;
  position: absolute;
  width: 26.054px;
  height: 34.935px;
  left: 6.158px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_32 {
  fill: rgba(0,0,0,0);
  stroke: rgba(35,31,32,1);
  stroke-width: 3.312570095062256px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_32 {
  overflow: visible;
  position: absolute;
  width: 38.37px;
  height: 14.501px;
  left: 0px;
  top: 26.774px;
  transform: matrix(1,0,0,1,0,0);
}
#Line_20 {
  fill: transparent;
  stroke: rgba(35,31,32,1);
  stroke-width: 3.312570095062256px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_20 {
  overflow: visible;
  position: absolute;
  width: 38.37px;
  height: 3.313px;
  left: 0px;
  top: 33.487px;
  transform: matrix(1,0,0,1,0,0);
}
#Component_1__2 {
  position: absolute;
  width: 276px;
  height: 40px;
  left: 0px;
  top: 503px;
  overflow: visible;
}
#Rectangle_8 {
  fill: rgba(253,0,16,1);
}
.Rectangle_8 {
  position: absolute;
  overflow: visible;
  width: 276px;
  height: 39px;
  left: 0px;
  top: 0px;
}
#__ba {
  left: 116px;
  top: 10px;
  position: absolute;
  overflow: visible;
  width: 37px;
  white-space: nowrap;
  line-height: 27px;
  margin-top: -6.5px;
  text-align: center;
  font-family: Heebo;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: rgba(255,255,255,1);
}
#___ba {
  left: 155px;
  top: 40px;
  position: absolute;
  overflow: visible;
  width: 103px;
  white-space: nowrap;
  line-height: 25px;
  margin-top: -6px;
  text-align: center;
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  color: rgba(253,0,16,1);
}
#_ba {
  left: 36px;
  top: 40px;
  position: absolute;
  overflow: visible;
  width: 67px;
  white-space: nowrap;
  line-height: 25px;
  margin-top: -6px;
  text-align: center;
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  color: rgba(113,113,113,1);
}
#Line_2 {
  fill: transparent;
  stroke: rgba(113,113,113,1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_2 {
  overflow: visible;
  position: absolute;
  width: 133.319px;
  height: 2px;
  left: 0.366px;
  top: 64.539px;
  transform: matrix(1,0,0,1,0,0);
}
#Line_3 {
  fill: transparent;
  stroke: rgba(253,0,16,1);
  stroke-width: 3px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_3 {
  overflow: visible;
  position: absolute;
  width: 130.389px;
  height: 3px;
  left: 143.94px;
  top: 64.539px;
  transform: matrix(1,0,0,1,0,0);
}
#__bb {
  left: 11px;
  top: 138px;
  position: absolute;
  overflow: visible;
  width: 49px;
  white-space: nowrap;
  line-height: 11px;
  margin-top: -1px;
  text-align: center;
  font-family: Heebo;
  font-style: normal;
  font-weight: bold;
  font-size: 9px;
  color: rgba(253,0,16,1);
}
#Line_52 {
  fill: transparent;
  stroke: rgba(253,0,16,1);
  stroke-width: 6px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_52 {
  overflow: visible;
  position: absolute;
  width: 86.059px;
  height: 6px;
  left: -3.401px;
  top: 125.85px;
  transform: matrix(1,0,0,1,0,0);
}
#__bc {
  left: 105px;
  top: 138px;
  position: absolute;
  overflow: visible;
  width: 65px;
  white-space: nowrap;
  line-height: 11px;
  margin-top: -1px;
  text-align: center;
  font-family: Heebo;
  font-style: normal;
  font-weight: bold;
  font-size: 9px;
  color: rgba(253,0,16,1);
}
#Line_51 {
  fill: transparent;
  stroke: rgba(253,0,16,1);
  stroke-width: 6px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_51 {
  overflow: visible;
  position: absolute;
  width: 77.827px;
  height: 6px;
  left: 99.122px;
  top: 125.85px;
  transform: matrix(1,0,0,1,0,0);
}
#__bd {
  left: 207px;
  top: 138px;
  position: absolute;
  overflow: visible;
  width: 57px;
  white-space: nowrap;
  line-height: 11px;
  margin-top: -1px;
  text-align: center;
  font-family: Heebo;
  font-style: normal;
  font-weight: bold;
  font-size: 9px;
  color: rgba(253,0,16,1);
}
#Line_50 {
  fill: transparent;
  stroke: rgba(253,0,16,1);
  stroke-width: 6px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_50 {
  overflow: visible;
  position: absolute;
  width: 83.066px;
  height: 6px;
  left: 197.154px;
  top: 125.85px;
  transform: matrix(1,0,0,1,0,0);
}
