.mediaViewInfo {
  --web-view-name: מסך 2 – 9;
  --web-view-id: _2__9;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
:root {
  --web-view-ids: _2__9;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
#_2__9 {
  position: absolute;
  width: 273px;
  height: 567px;
  background-color: rgba(255,255,255,0);
  overflow: hidden;
  --web-view-name: מסך 2 – 9;
  --web-view-id: _2__9;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
#____ {
  //left: 40%;
  padding-right: 50px;
  top: 92px;
  position: absolute;
  overflow: visible;
  width: 125px;
  white-space: nowrap;
  line-height: 17px;
  margin-top: -3px;
  text-align: center;
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  color: rgba(0,0,0,1);
}
#Rectangle_28 {
  fill: rgba(253,0,16,1);
}
.Rectangle_28 {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.439));
  position: absolute;
  overflow: visible;
  width: 165px;
  height: 52px;
  left: -48px;
  top: 508px;
}
#Rectangle_29 {
  fill: rgba(253,0,16,1);
}
.Rectangle_29 {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.439));
  position: absolute;
  overflow: visible;
  width: 179px;
  height: 52px;
  left: 163px;
  top: 508px;
}
#ID1221_ {
  left: 173px;
  top: 515px;
  position: absolute;
  overflow: visible;
  width: 75px;
  white-space: nowrap;
  line-height: 18px;
  margin-top: -1.5px;
  text-align: center;
  font-family: Heebo;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  color: rgba(255,255,255,1);
}
#ID101_ {
  left: 17px;
  top: 515px;
  position: absolute;
  overflow: visible;
  width: 59px;
  white-space: nowrap;
  line-height: 17px;
  margin-top: -1.5px;
  text-align: center;
  font-family: Heebo;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: rgba(255,255,255,1);
}
#Path_148 {
  fill: transparent;
  stroke: rgba(112,112,112,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_148 {
  overflow: visible;
  position: absolute;
  width: 23.057px;
  height: 7.594px;
  left: 126.144px;
  top: 489.016px;
  transform: matrix(1,0,0,1,0,0);
}
#__ {
  left: 155px;
  top: 40px;
  position: absolute;
  overflow: visible;
  width: 103px;
  white-space: nowrap;
  line-height: 25px;
  margin-top: -6px;
  text-align: center;
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  color: rgba(112,112,112,1);
}
#\\ {
  left: 36px;
  top: 40px;
  position: absolute;
  overflow: visible;
  width: 67px;
  white-space: nowrap;
  line-height: 25px;
  margin-top: -6px;
  text-align: center;
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  color: rgba(253,0,16,1);
}
#Line_44 {
  fill: transparent;
  stroke: rgba(253,0,16,1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_44 {
  overflow: visible;
  position: absolute;
  width: 133.319px;
  height: 2px;
  left: 0.366px;
  top: 64.539px;
  transform: matrix(1,0,0,1,0,0);
}
#Line_45 {
  fill: transparent;
  stroke: rgba(112,112,112,1);
  stroke-width: 3px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_45 {
  overflow: visible;
  position: absolute;
  width: 130.389px;
  height: 3px;
  left: 143.94px;
  top: 64.539px;
  transform: matrix(1,0,0,1,0,0);
}
#Rectangle_25 {
  fill: rgba(255,255,255,1);
}
.Rectangle_25 {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
  position: absolute;
  overflow: visible;
  width: 301px;
  height: 64px;
  left: -5px;
  top: 211px;
}
#Rectangle_97 {
  fill: rgba(255,255,255,1);
}
.Rectangle_97 {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
  position: absolute;
  overflow: visible;
  width: 301px;
  height: 64px;
  left: -5px;
  top: 278px;
}
#Rectangle_101 {
  fill: rgba(255,255,255,1);
}
.Rectangle_101 {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
  position: absolute;
  overflow: visible;
  width: 301px;
  height: 69px;
  left: -5px;
  top: 342px;
}
#Rectangle_105 {
  fill: rgba(255,255,255,1);
}
.Rectangle_105 {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
  position: absolute;
  overflow: visible;
  width: 301px;
  height: 63px;
  left: -5px;
  top: 413px;
}
#Group_15 {
  position: absolute;
  width: 25.666px;
  height: 39.019px;
  left: 37.242px;
  top: 148.4px;
  overflow: visible;
}
#Path_58 {
  fill: rgba(162,162,162,1);
}
.Path_58 {
  overflow: visible;
  position: absolute;
  width: 25.666px;
  height: 38.467px;
  left: 0px;
  top: 0.552px;
  transform: matrix(1,0,0,1,0,0);
}
#Ellipse_10 {
  fill: rgba(255,255,255,1);
}
.Ellipse_10 {
  width: 17.416px;
  height: 17.416px;
  position: absolute;
  overflow: visible;
  transform: translate(0px, 0px) matrix(1,0,0,1,4.1249,3.607) rotate(-45deg);
  transform-origin: center;
}
#Line_36 {
  fill: transparent;
  stroke: rgba(162,162,162,1);
  stroke-width: 3px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_36 {
  overflow: visible;
  position: absolute;
  width: 105.154px;
  height: 3px;
  left: -0.654px;
  top: 204.709px;
  transform: matrix(1,0,0,1,0,0);
}
#Group_16 {
  position: absolute;
  width: 43px;
  height: 34px;
  left: 200px;
  top: 150px;
  overflow: visible;
}
#Subtraction_1 {
  fill: rgba(253,0,16,1);
}
.Subtraction_1 {
  overflow: visible;
  position: absolute;
  width: 43px;
  height: 11px;
  left: 0px;
  top: 23px;
  transform: matrix(1,0,0,1,0,0);
}
#Ellipse_9 {
  fill: rgba(253,0,16,1);
}
.Ellipse_9 {
  position: absolute;
  overflow: visible;
  width: 20px;
  height: 20px;
  left: 12px;
  top: 0px;
}
#___bc {
  left: 183px;
  top: 186px;
  position: absolute;
  overflow: visible;
  width: 79px;
  white-space: nowrap;
  line-height: 24px;
  margin-top: -6.5px;
  text-align: center;
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  color: rgba(0,0,0,1);
}
#Line_37 {
  fill: transparent;
  stroke: rgba(253,0,16,1);
  stroke-width: 3px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_37 {
  overflow: visible;
  position: absolute;
  width: 105.049px;
  height: 3px;
  left: 167.5px;
  top: 204.709px;
  transform: matrix(1,0,0,1,0,0);
}
#___be {
  left: 174px;
  top: 216px;
  position: absolute;
  overflow: visible;
  width: 53px;
  white-space: nowrap;
  line-height: 12px;
  margin-top: -2px;
  text-align: center;
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  color: rgba(0,0,0,1);
}
#_ {
  left: 188px;
  top: 284px;
  position: absolute;
  overflow: visible;
  width: 49px;
  white-space: nowrap;
  line-height: 15px;
  margin-top: -3px;
  text-align: center;
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  color: rgba(0,0,0,1);
}
#___bg {
  left: 186px;
  top: 351px;
  position: absolute;
  overflow: visible;
  width: 51px;
  white-space: nowrap;
  line-height: 14px;
  margin-top: -2.5px;
  text-align: center;
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  color: rgba(0,0,0,1);
}
#__bh {
  left: 212px;
  top: 417px;
  position: absolute;
  overflow: visible;
  width: 31px;
  white-space: nowrap;
  line-height: 15px;
  margin-top: -3px;
  text-align: center;
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  color: rgba(0,0,0,1);
}
#ID053-8849556 {
  left: 103px;
  top: 219px;
  position: absolute;
  overflow: visible;
  width: 37px;
  white-space: nowrap;
  line-height: 13px;
  margin-top: -3.5px;
  text-align: center;
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 6px;
  color: rgba(0,0,0,1);
}
#ID35 {
  left: 239px;
  top: 238px;
  position: absolute;
  overflow: visible;
  width: 13px;
  white-space: nowrap;
  line-height: 15px;
  margin-top: -4px;
  text-align: center;
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 7px;
  color: rgba(0,189,101,1);
}
#ID44 {
  left: 239px;
  top: 305px;
  position: absolute;
  overflow: visible;
  width: 13px;
  white-space: nowrap;
  line-height: 15px;
  margin-top: -4px;
  text-align: center;
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 7px;
  color: rgba(0,189,101,1);
}
#ID60 {
  left: 239px;
  top: 371px;
  position: absolute;
  overflow: visible;
  width: 13px;
  white-space: nowrap;
  line-height: 15px;
  margin-top: -4px;
  text-align: center;
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 7px;
  color: rgba(0,189,101,1);
}
#ID053-8849556_bm {
  left: 103px;
  top: 286px;
  position: absolute;
  overflow: visible;
  width: 37px;
  white-space: nowrap;
  line-height: 13px;
  margin-top: -3.5px;
  text-align: center;
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 6px;
  color: rgba(0,0,0,1);
}
#ID053-8849556_bn {
  left: 103px;
  top: 355px;
  position: absolute;
  overflow: visible;
  width: 37px;
  white-space: nowrap;
  line-height: 13px;
  margin-top: -3.5px;
  text-align: center;
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 6px;
  color: rgba(0,0,0,1);
}
#ID053-8849556_bo {
  left: 107px;
  top: 420px;
  position: absolute;
  overflow: visible;
  width: 37px;
  white-space: nowrap;
  line-height: 13px;
  margin-top: -3.5px;
  text-align: center;
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 6px;
  color: rgba(0,0,0,1);
}
#Rectangle_33 {
  fill: rgba(255,255,255,1);
  stroke: rgba(253,0,16,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_33 {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.361));
  position: absolute;
  overflow: visible;
  width: 48px;
  height: 48px;
  left: 17px;
  top: 219px;
}
#Rectangle_98 {
  fill: rgba(255,255,255,1);
  stroke: rgba(253,0,16,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_98 {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.361));
  position: absolute;
  overflow: visible;
  width: 48px;
  height: 48px;
  left: 17px;
  top: 286px;
}
#Rectangle_102 {
  fill: rgba(255,255,255,1);
  stroke: rgba(253,0,16,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_102 {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.361));
  position: absolute;
  overflow: visible;
  width: 48px;
  height: 45px;
  left: 17px;
  top: 355px;
}
#Rectangle_106 {
  fill: rgba(255,255,255,1);
  stroke: rgba(253,0,16,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_106 {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.361));
  position: absolute;
  overflow: visible;
  width: 48px;
  height: 47px;
  left: 17px;
  top: 420px;
}
#Path_69 {
  fill: rgba(253,0,16,1);
}
.Path_69 {
  overflow: visible;
  position: absolute;
  width: 13.415px;
  height: 15.732px;
  left: 26.138px;
  top: 226.037px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_138 {
  fill: rgba(253,0,16,1);
}
.Path_138 {
  overflow: visible;
  position: absolute;
  width: 13.415px;
  height: 15.732px;
  left: 26.138px;
  top: 292.635px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_139 {
  fill: rgba(253,0,16,1);
}
.Path_139 {
  overflow: visible;
  position: absolute;
  width: 13.415px;
  height: 15.732px;
  left: 26.138px;
  top: 359.48px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_140 {
  fill: rgba(253,0,16,1);
}
.Path_140 {
  overflow: visible;
  position: absolute;
  width: 13.415px;
  height: 15.732px;
  left: 26.138px;
  top: 426.055px;
  transform: matrix(1,0,0,1,0,0);
}
#Rectangle_95 {
  fill: transparent;
  stroke: rgba(0,189,101,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_95 {
  position: absolute;
  overflow: visible;
  width: 132px;
  height: 10px;
  left: 103px;
  top: 240px;
}
#Rectangle_124 {
  fill: transparent;
  stroke: rgba(0,189,101,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_124 {
  position: absolute;
  overflow: visible;
  width: 132px;
  height: 10px;
  left: 103px;
  top: 306px;
}
#Rectangle_126 {
  fill: transparent;
  stroke: rgba(0,189,101,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_126 {
  position: absolute;
  overflow: visible;
  width: 132px;
  height: 9px;
  left: 103px;
  top: 374px;
}
#Rectangle_96 {
  fill: rgba(0,189,101,1);
}
.Rectangle_96 {
  position: absolute;
  overflow: visible;
  width: 38px;
  height: 10px;
  left: 197px;
  top: 240px;
}
#Rectangle_125 {
  fill: rgba(0,189,101,1);
}
.Rectangle_125 {
  position: absolute;
  overflow: visible;
  width: 67px;
  height: 10px;
  left: 168px;
  top: 306px;
}
#Rectangle_127 {
  fill: rgba(0,189,101,1);
}
.Rectangle_127 {
  position: absolute;
  overflow: visible;
  width: 106px;
  height: 9px;
  left: 129px;
  top: 374px;
}
#ID22 {
  left: 239px;
  top: 436px;
  position: absolute;
  overflow: visible;
  width: 13px;
  white-space: nowrap;
  line-height: 15px;
  margin-top: -4px;
  text-align: center;
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 7px;
  color: rgba(0,189,101,1);
}
#Rectangle_128 {
  fill: transparent;
  stroke: rgba(0,189,101,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_128 {
  position: absolute;
  overflow: visible;
  width: 132px;
  height: 10px;
  left: 103px;
  top: 439px;
}
#Rectangle_129 {
  fill: rgba(0,189,101,1);
}
.Rectangle_129 {
  position: absolute;
  overflow: visible;
  width: 31px;
  height: 10px;
  left: 204px;
  top: 439px;
}

