.mediaViewInfo {
    --web-view-name: מסך 3 – 1;
    --web-view-id: _3__1;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
  }
  :root {
    --web-view-ids: _3__1;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
  }
  #_3__1 {
    position: absolute;
    width: 276px;
    height: 567px;
    background-color: rgba(255,255,255,0);
    overflow: hidden;
    --web-view-name: מסך 3 – 1;
    --web-view-id: _3__1;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
  }
  #_______ {
    left: 67px;
    top: 178px;
    position: absolute;
    overflow: visible;
    width: 151px;
    white-space: nowrap;
    line-height: 23px;
    margin-top: -4px;
    text-align: center;
    font-family: Heebo;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: rgba(0,0,0,1);
  }
  #_________ {
    left: 45px;
    top: 386px;
    position: absolute;
    overflow: visible;
    width: 177px;
    white-space: nowrap;
    line-height: 21px;
    margin-top: -5px;
    text-align: center;
    font-family: Heebo;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    color: rgba(0,0,0,1);
  }
  #Path_34 {
    fill: rgba(253,0,16,1);
  }
  .Path_34 {
    overflow: visible;
    position: absolute;
    width: 47.226px;
    height: 37.845px;
    left: 118.761px;
    top: 282.761px;
    transform: matrix(1,0,0,1,0,0);
  }
  #Rectangle_88 {
    fill: rgba(253,0,16,1);
    stroke: rgba(253,0,16,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
  }
  .Rectangle_88 {
    position: absolute;
    overflow: visible;
    width: 120px;
    height: 3px;
    left: 166px;
    top: 304px;
  }
  #Rectangle_89 {
    fill: rgba(253,0,16,1);
    stroke: rgba(253,0,16,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
  }
  .Rectangle_89 {
    position: absolute;
    overflow: visible;
    width: 120px;
    height: 3px;
    left: 0px;
    top: 304px;
  }
  #Component_1__9 {
    position: absolute;
    width: 306px;
    height: 40px;
    left: -22px;
    top: 501px;
    overflow: visible;
  }
  #Rectangle_8 {
    fill: rgba(253,0,16,1);
  }
  .Rectangle_8 {
    position: absolute;
    overflow: visible;
    width: 307px;
    height: 41px;
    left: 0px;
    top: 0px;
  }
  #\\ {
    left: 133px;
    top: 10px;
    position: absolute;
    overflow: visible;
    width: 31px;
    white-space: nowrap;
    line-height: 25px;
    margin-top: -6px;
    text-align: center;
    font-family: Heebo;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    color: rgba(255,255,255,1);
  }
  #__ {
    left: 155px;
    top: 40px;
    position: absolute;
    overflow: visible;
    width: 103px;
    white-space: nowrap;
    line-height: 25px;
    margin-top: -6px;
    text-align: center;
    font-family: Heebo;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: rgba(113,113,113,1);

  }
  #_ {
    left: 36px;
    top: 40px;
    position: absolute;
    overflow: visible;
    width: 67px;
    white-space: nowrap;
    line-height: 25px;
    margin-top: -6px;
    text-align: center;
    font-family: Heebo;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: rgba(253,0,16,1);

  }
  #Line_2 {
    fill: transparent;
    stroke: rgba(253,0,16,1);
    stroke-width: 2px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
  }
  .Line_2 {
    overflow: visible;
    position: absolute;
    width: 133.319px;
    height: 2px;
    left: 0.366px;
    top: 64.539px;
    transform: matrix(1,0,0,1,0,0);
  }
  #Line_3 {
    fill: transparent;
    stroke: rgba(113,113,113,1);
        stroke-width: 3px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
  }
  .Line_3 {
    overflow: visible;
    position: absolute;
    width: 130.389px;
    height: 3px;
    left: 143.94px;
    top: 64.539px;
    transform: matrix(1,0,0,1,0,0);
  }
  