.mediaViewInfo {
  --web-view-name: מסך 2 – 6;
  --web-view-id: _2__6;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
:root {
  --web-view-ids: _2__6;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
#_2__6 {
  position: absolute;
  width: 273px;
  height: 567px;
  background-color: rgba(255,255,255,0);
  overflow: hidden;
  --web-view-name: מסך 2 – 6;
  --web-view-id: _2__6;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
#Rectangle_41 {
  fill: rgba(255,255,255,1);
  stroke: rgba(112,112,112,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_41 {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.302));
  position: absolute;
  overflow: visible;
  width: 147px;
  height: 51px;
  left: 79px;
  top: 444px;
}
#_ {
  left: 104px;
  top: 452px;
  position: absolute;
  overflow: visible;
  width: 71px;
  white-space: nowrap;
  line-height: 16px;
  margin-top: -1.5px;
  text-align: center;
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  color: rgba(253,0,16,1);
}
#__t {
  left: 102px;
  top: 506px;
  position: absolute;
  overflow: visible;
  width: 73px;
  white-space: nowrap;
  line-height: 17px;
  margin-top: -3px;
  text-align: center;
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  color: rgba(0,0,0,1);
}
#__u {
  left:70px;
  top: 101px;
  position: absolute;
  overflow: visible;
  width: 123px;
  white-space: nowrap;
  line-height: 33px;
  margin-top: -4px;
  text-align: center;
  font-family: Heebo;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  color: rgba(0,0,0,1);
}
#\\ {
  left: 240px;
  top: 231px;
  position: absolute;
  overflow: visible;
  width: 20px;
  white-space: nowrap;
  line-height: 16px;
  margin-top: -2px;
  text-align: right;
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: rgba(0,0,0,1);
}
#_w {
  left: 201px;
  top: 278px;
  position: absolute;
  overflow: visible;
  width: 57px;
  white-space: nowrap;
  line-height: 16px;
  margin-top: -2px;
  text-align: right;
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: rgba(0,0,0,1);
}
#_x {
  left: 229px;
  top: 325px;
  position: absolute;
  overflow: visible;
  width: 32px;
  white-space: nowrap;
  line-height: 17px;
  margin-top: -2px;
  text-align: right;
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  color: rgba(0,0,0,1);
}
#_y {
  left: 224px;
  top: 372px;
  position: absolute;
  overflow: visible;
  width: 32px;
  white-space: nowrap;
  line-height: 16px;
  margin-top: -2px;
  text-align: right;
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: rgba(0,0,0,1);
}
#___ {
  left: 70px;
  top: 170px;
  position: absolute;
  overflow: visible;
  width: 189px;
  white-space: nowrap;
  line-height: 21px;
  margin-top: -2.5px;
  text-align: center;
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: rgba(0,0,0,1);
}
#Rectangle_43 {
  fill: rgba(255,255,255,1);
  stroke: rgba(253,0,16,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_43 {
  position: absolute;
  overflow: visible;
  width: 135px;
  height: 14px;
  left: 33px;
  top: 233px;
}
#Rectangle_48 {
  fill: rgba(255,255,255,1);
  stroke: rgba(253,0,16,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_48 {
  position: absolute;
  overflow: visible;
  width: 135px;
  height: 14px;
  left: 33px;
  top: 281px;
}
#Rectangle_50 {
  fill: rgba(255,255,255,1);
  stroke: rgba(253,0,16,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_50 {
  position: absolute;
  overflow: visible;
  width: 135px;
  height: 14px;
  left: 33px;
  top: 328px;
}
#Rectangle_52 {
  fill: rgba(255,255,255,1);
  stroke: rgba(253,0,16,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_52 {
  position: absolute;
  overflow: visible;
  width: 135px;
  height: 12px;
  left: 33px;
  top: 376px;
}
#Rectangle_47 {
  fill: rgba(253,0,16,1);
}
.Rectangle_47 {
  position: absolute;
  overflow: visible;
  width: 92px;
  height: 14px;
  left: 33px;
  top: 233px;
}
#Rectangle_49 {
  fill: rgba(253,0,16,1);
}
.Rectangle_49 {
  position: absolute;
  overflow: visible;
  width: 117px;
  height: 14px;
  left: 33px;
  top: 281px;
}
#Rectangle_51 {
  fill: rgba(253,0,16,1);
}
.Rectangle_51 {
  position: absolute;
  overflow: visible;
  width: 57px;
  height: 14px;
  left: 33px;
  top: 328px;
}
#Rectangle_53 {
  fill: rgba(253,0,16,1);
}
.Rectangle_53 {
  position: absolute;
  overflow: visible;
  width: 120px;
  height: 12px;
  left: 33px;
  top: 376px;
}
#ID78 {
  left: 9px;
  top: 233px;
  position: absolute;
  overflow: visible;
  width: 16px;
  white-space: nowrap;
  line-height: 16px;
  margin-top: -4px;
  text-align: right;
  font-family: Heebo;
  font-style: normal;
  font-weight: bold;
  font-size: 8px;
  color: rgba(253,0,16,1);
}
#ID80 {
  left: 9px;
  top: 281px;
  position: absolute;
  overflow: visible;
  width: 16px;
  white-space: nowrap;
  line-height: 16px;
  margin-top: -4px;
  text-align: right;
  font-family: Heebo;
  font-style: normal;
  font-weight: bold;
  font-size: 8px;
  color: rgba(253,0,16,1);
}
#ID42 {
  left: 9px;
  top: 328px;
  position: absolute;
  overflow: visible;
  width: 16px;
  white-space: nowrap;
  line-height: 16px;
  margin-top: -4px;
  text-align: right;
  font-family: Heebo;
  font-style: normal;
  font-weight: bold;
  font-size: 8px;
  color: rgba(253,0,16,1);
}
#ID88 {
  left: 9px;
  top: 376px;
  position: absolute;
  overflow: visible;
  width: 16px;
  white-space: nowrap;
  line-height: 16px;
  margin-top: -4px;
  text-align: right;
  font-family: Heebo;
  font-style: normal;
  font-weight: bold;
  font-size: 8px;
  color: rgba(253,0,16,1);
}
#Line_38 {
  fill: transparent;
  stroke: rgba(0,0,0,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_38 {
  overflow: visible;
  position: absolute;
  width: 84.343px;
  height: 1px;
  left: 98px;
  top: 525.281px;
  transform: matrix(1,0,0,1,0,0);
}
#_bd {
  left: 34px;
  top: 40px;
  position: absolute;
  overflow: visible;
  width: 67px;
  white-space: nowrap;
  line-height: 25px;
  margin-top: -6px;
  text-align: center;
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  color: rgba(253,0,16,1);
}
#Line_48 {
  fill: transparent;
  stroke: rgba(253,0,16,1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_48 {
  overflow: visible;
  position: absolute;
  width: 133.319px;
  height: 2px;
  left: -1.634px;
  top: 64.539px;
  transform: matrix(1,0,0,1,0,0);
}
#__ {
  left: 153px;
  top: 40px;
  position: absolute;
  overflow: visible;
  width: 103px;
  white-space: nowrap;
  line-height: 25px;
  margin-top: -6px;
  text-align: center;
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  color: rgba(112,112,112,1);
}
#Line_49 {
  fill: transparent;
  stroke: rgba(112,112,112,1);
  stroke-width: 3px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_49 {
  overflow: visible;
  position: absolute;
  width: 130.389px;
  height: 3px;
  left: 142.94px;
  top: 64.539px;
  transform: matrix(1,0,0,1,0,0);
}
ion-alert {
  position: absolute;
  overflow: visible;
}