<ion-content [fullscreen]="true" >

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>מסך 2 – 6</title>


  </head>

  <body>
  <button (click)="deleteDoctor()">
        <div id="__t">
          <span>מחיקת הפרופיל</span>
        </div>
      </button>
      <button (click)="updateDoctor()" routerLinkActive="activelink">
        <svg class="Rectangle_41">
          <rect id="Rectangle_41" rx="16.5" ry="16.5" x="0" y="0" width="129" height="33">
          </rect>
        </svg>
        <div id="_">
          <span>עידכון פרטים</span>
        </div>
      </button>
     
      <div id="__u">
        <span>{{user.Doctor.firstName}} {{user.Doctor.lastName}} </span>
      </div>
      <div id="\">
        <span>רעל</span>
      </div>
      <div id="_w">
        <span>התחשמלות</span>
      </div>
      <div id="_x">
        <span>דימום</span>
      </div>
      <div id="_y">
        <span>עילפון</span>
      </div>
      <div id="___">
        <span>ניקוד ביקורת בהתמחויות שלי</span>
      </div>
      <svg class="Rectangle_43">
        <rect id="Rectangle_43" rx="7" ry="7" x="0" y="0" width="135" height="14">
        </rect>
      </svg>
      <svg class="Rectangle_48">
        <rect id="Rectangle_48" rx="7" ry="7" x="0" y="0" width="135" height="14">
        </rect>
      </svg>
      <svg class="Rectangle_50">
        <rect id="Rectangle_50" rx="7" ry="7" x="0" y="0" width="135" height="14">
        </rect>
      </svg>
      <svg class="Rectangle_52">
        <rect id="Rectangle_52" rx="6" ry="6" x="0" y="0" width="135" height="12">
        </rect>
      </svg>
      <svg class="Rectangle_47">
        <rect id="Rectangle_47" rx="7" ry="7" x="0" y="0" width="92" height="14">
        </rect>
      </svg>
      <svg class="Rectangle_49">
        <rect id="Rectangle_49" rx="7" ry="7" x="0" y="0" width="117" height="14">
        </rect>
      </svg>
      <svg class="Rectangle_51">
        <rect id="Rectangle_51" rx="7" ry="7" x="0" y="0" width="57" height="14">
        </rect>
      </svg>
      <svg class="Rectangle_53">
        <rect id="Rectangle_53" rx="6" ry="6" x="0" y="0" width="120" height="12">
        </rect>
      </svg>
      <div id="ID78">
        <span>78%</span>
      </div>
      <div id="ID80">
        <span>80%</span>
      </div>
      <div id="ID42">
        <span>42%</span>
      </div>
      <div id="ID88">
        <span>88%</span>
      </div>
      <svg class="Line_38" viewBox="0 0 84.343 1">
        <path id="Line_38" d="M 0 0 L 84.34298706054688 0">
        </path>
      </svg>
      <button routerLink="/microphone" routerLinkActive="activelink">
        <div id="_bd">
          <span>מטופל/פצוע</span>
        </div>
      </button>
      <svg class="Line_48" viewBox="0 0 133.319 2">
        <path id="Line_48" d="M 0 0 L 133.3186798095703 0">
        </path>
      </svg>
      <button routerLink="/login" routerLinkActive="activelink">
        <div id="__">
          <span>מגיש עזרה ראשונה</span>
        </div>
      </button>
      <svg class="Line_49" viewBox="0 0 130.389 3">
        <path id="Line_49" d="M 0 0 L 130.3885955810547 0">
        </path>
      </svg>
  
  </body>
</ion-content>