<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      כניסת מטופל
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="text-align: right; direction: rtl;" class="background">
 <!-- <ion-header collapse="condense">
    <ion-toolbar>
     <ion-title size="medium"> כניסת מטופל 
       </ion-title> 
    </ion-toolbar>
  </ion-header> -->

  <app-explore-container name=""> </app-explore-container>

  <div *ngIf="searchPage==true" class="text">
    <ion-label style="text-align: center;" >
      <h1 >מה קרה? דבר אלי</h1>
      <h1><ion-icon name="mic" size="large" (click)="searchVoice()"></ion-icon></h1>
    </ion-label>


    
    <ion-list class="text">
      <ion-radio-group value="cases">
        <ion-list-header>
          <ion-label style="text-align: center;">
            זה מה שחיפשת?
          </ion-label>
        </ion-list-header>

        <ion-item *ngFor="let case of allCases">
          <ion-label class="text">
            {{case.caseName}}
          </ion-label>
          <ion-radio slot="start" [value]="case.caseId"></ion-radio>
        </ion-item>

        <!-- <ion-item>
          <ion-label>Griff</ion-label>
          <ion-radio slot="start" value="griff"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Buford</ion-label>
          <ion-radio slot="start" value="buford"></ion-radio>
        </ion-item> -->
      </ion-radio-group>
    </ion-list>

    <ion-button color="danger" shape="round" fill="outline" expand="left" (click)="next1()">הבא
      <ion-icon name="chevron-back"></ion-icon>
    </ion-button>
   


  </div>
  <!-- בין רופאים למשפחה- ion-slide -->
</ion-content>