<ion-content [fullscreen]="true" class="background">

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>מסך 2 – 7</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.js"></script>
    <script type='text/javascript'>
    window.onload=function(){
        document.getElementById('rangeInput').focus()
    }
    </script>

  </head>

  <body>
    <div id="_2__7">
      <div id="__">
        <span>ביקורת אחרי טיפול</span>
      </div>
      <div id="___s">
        <span>שם מגיש העזרה</span>
      </div>
      <div id="___t">
        <span>ד"ר {{name}}</span>
      </div>
      <div id="___">
        <span>{{case.caseName}}</span>
      </div>
      <div id="_">
        <span>התמחות המע"ר</span>
      </div>
      <div id="____w">
        <span>דרג את רמת הטיפול</span>
      </div>
      <div id="_____">
        <span>נישמח לשמוע את חוות דעתך...</span>
      </div>
      <div id="________">
        <span> מאחלים לך בריאות שלימה<br />ומודים על שיתוף הפעולה!</span>
      </div>
      <!-- <svg class="Rectangle_55">
        <rect id="Rectangle_55" rx="6" ry="6" x="0" y="0" width="190" height="12">
        </rect>
      
      </svg>   -->
      
      <!-- <svg class="Rectangle_56">
        <rect id="Rectangle_56" rx="6" ry="6" x="0" y="0" width="113" height="12">
        </rect>
      </svg> -->
      <div id="ID50">
        <span>{{point}}%</span>
      </div>
      <!-- <ion-item class="Rectangle_55">
          <ion-range min="0" max="100" step="2" snaps="false" id="Rectangle_55" dual-knobs="true" ticks="false" color="secondary">
            <ion-icon slot="start" name="heart-dislike"></ion-icon>
            <ion-icon slot="end" name="heart"></ion-icon>
          </ion-range>
        </ion-item>-->
        <input #ramSelector id="rangeInput" type="range" name="range" [(ngModel)]="point" min="0"  max="100" class="custom-range" value='0'> 
        <ion-icon slot="end" name="heart" id="ID50" style="left: 15px !important; font-size:20px !important;"></ion-icon>
        <!-- <mat-slider min="1" max="5" step="0.5" value="1.5" class="Rectangle_55"></mat-slider> -->
      <button (click)="sendSatisfaction()">
        <div id="Component_1__6" class="Component_1___6">
        <svg class="Rectangle_8">
          <rect id="Rectangle_8" rx="0" ry="0" x="0" y="0" width="281" height="40">
          </rect>
        </svg>
        <div id="__ba">
          <span>שלח ביקורת</span>
        </div>
      </div>
    </button>
      <textarea class="Line_27" rows="10"></textarea>
      <!-- <svg class="Line_27" viewBox="0 0 218.557 1">
        <path id="Line_27" d="M 218.5574798583984 0 L 0 0">
        </path>
      </svg>
      <svg class="Line_28" viewBox="0 0 218.557 1">
        <path id="Line_28" d="M 218.5574798583984 0 L 0 0">
        </path>
      </svg> -->
      <svg class="Line_39" viewBox="0 0 75.465 1">
        <path id="Line_39" d="M 0 0 L 75.4652099609375 0">
        </path>
      </svg>
      <svg class="Line_40" viewBox="0 0 66.723 1">
        <path id="Line_40" d="M 0 0 L 66.7227783203125 0">
        </path>
      </svg>
      <button routerLink="/microphone" routerLinkActive="activelink">
        <div id="\">
          <span>מטופל/פצוע</span>
        </div>
      </button>

      <svg class="Line_46" viewBox="0 0 133.319 2">
        <path id="Line_46" d="M 0 0 L 133.3186798095703 0">
        </path>
      </svg>
      <button routerLink="/login" routerLinkActive="activelink">
        <div id="___bb">
          <span>מגיש עזרה ראשונה</span>
        </div>
      </button>
      <svg class="Line_47" viewBox="0 0 130.389 3">
        <path id="Line_47" d="M 0 0 L 130.3885955810547 0">
        </path>
      </svg>
    </div>
  </body>
</ion-content>