.mediaViewInfo {
  --web-view-name: מסך 2 – 7;
  --web-view-id: _2__7;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
:root {
  --web-view-ids: _2__7;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
#_2__7 {
  position: absolute;
  width: 273px;
  height: 567px;
  background-color: rgba(255,255,255,0);
  overflow: hidden;
  --web-view-name: מסך 2 – 7;
  --web-view-id: _2__7;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
#__ {
  left: 52px;
  top: 99px;
  position: absolute;
  overflow: visible;
  width: 157px;
  white-space: nowrap;
  line-height: 25px;
  margin-top: -3px;
  text-align: center;
  font-family: Heebo;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  color: rgba(0,0,0,1);
}
#___s {
  left: 169px;
  top: 151px;
  position: absolute;
  overflow: visible;
  width: 63px;
  white-space: nowrap;
  line-height: 14px;
  margin-top: -2.5px;
  text-align: center;
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  color: rgba(0,0,0,1);
}
#___t {
  left: 141px;
  top: 171px;
  position: absolute;
  overflow: visible;
  width: 95px;
  white-space: nowrap;
  line-height: 19px;
  margin-top: -2.5px;
  text-align: center;
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: rgba(0,0,0,1);
}
#___ {
  left: 61px;
  top: 241px;
  position: absolute;
  overflow: visible;
  width: 171px;
  white-space: nowrap;
  line-height: 15px;
  margin-top: -1px;
  text-align: center;
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  color: rgba(0,0,0,1);
}
#_ {
  left: 171px;
  top: 216px;
  position: absolute;
  overflow: visible;
  width: 59px;
  white-space: nowrap;
  line-height: 14px;
  margin-top: -2.5px;
  text-align: center;
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  color: rgba(0,0,0,1);
}
#____w {
  left: 103px;
  top: 283px;
  position: absolute;
  overflow: visible;
  width: 91px;
  white-space: nowrap;
  line-height: 18px;
  margin-top: -3.5px;
  text-align: center;
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  color: rgba(0,0,0,1);
}
#_____ {
  left: 59px;
  top: 354px;
  position: absolute;
  overflow: visible;
  width: 169px;
  white-space: nowrap;
  line-height: 20px;
  margin-top: -3.5px;
  text-align: center;
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  color: rgba(0,0,0,1);
}
#________ {
  left: 73px;
  top: 441px;
  position: absolute;
  overflow: visible;
  width: 129px;
  white-space: nowrap;
  line-height: 14px;
  margin-top: -1.5px;
  text-align: center;
  font-family: Heebo;
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  color: rgba(0,0,0,1);
}
#Rectangle_55 {
  fill: transparent;
  stroke: rgba(0,189,101,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_55 {
  position: absolute;
  overflow: visible;
  width: 190px;
  height: 12px;
  left: 32px;
  top: 315px;
}
#Rectangle_56 {
  fill: rgba(0,189,101,1);
}
.Rectangle_56 {
  position: absolute;
  overflow: visible;
  width: 113px;
  height: 12px;
  left: 32px;
  top: 315px;
}
#ID50 {
  left: 233px;
  top: 315px;
  position: absolute;
  overflow: visible;
  width: 16px;
  white-space: nowrap;
  line-height: 16px;
  margin-top: -4px;
  text-align: right;
  font-family: Heebo;
  font-style: normal;
  font-weight: bold;
  font-size: 8px;
  color: rgba(0,189,101,1);
}
#Component_1__6 {
  position: absolute;
  width: 281px;
  height: 39px;
  left: -4px;
  top: 510px;
  overflow: visible;
}
#Rectangle_8 {
  fill: rgba(253,0,16,1);
}
.Rectangle_8 {
  position: absolute;
  overflow: visible;
  width: 281px;
  height: 40px;
  left: 0px;
  top: 0px;
}
#__ba {
  left: 99px;
  top: 10px;
  position: absolute;
  overflow: visible;
  width: 65px;
  white-space: nowrap;
  line-height: 23px;
  margin-top: -5.5px;
  text-align: center;
  font-family: Heebo;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  color: rgba(255,255,255,1);
}
#Line_27 {
  fill: transparent;
  stroke: rgba(0,0,0,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_27 {
  overflow: visible;
  position: absolute;
  width: 218.557px;
  height: 1px;
  left: 31.062px;
  top: 392.498px;
  transform: matrix(1,0,0,1,0,0);
}
#Line_28 {
  fill: transparent;
  stroke: rgba(0,0,0,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_28 {
  overflow: visible;
  position: absolute;
  width: 218.557px;
  height: 1px;
  left: 31.062px;
  top: 414.204px;
  transform: matrix(1,0,0,1,0,0);
}
#Line_39 {
  fill: transparent;
  stroke: rgba(0,0,0,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_39 {
  overflow: visible;
  position: absolute;
  width: 75.465px;
  height: 1px;
  left: 161.035px;
  top: 167.732px;
  transform: matrix(1,0,0,1,0,0);
}
#Line_40 {
  fill: transparent;
  stroke: rgba(0,0,0,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_40 {
  overflow: visible;
  position: absolute;
  width: 66.723px;
  height: 1px;
  left: 164.777px;
  top: 232.814px;
  transform: matrix(1,0,0,1,0,0);
}
#\\ {
  left: 36px;
  top: 40px;
  position: absolute;
  overflow: visible;
  width: 67px;
  white-space: nowrap;
  line-height: 25px;
  margin-top: -6px;
  text-align: center;
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  color: rgba(253,0,16,1);
}
#Line_46 {
  fill: transparent;
  stroke: rgba(253,0,16,1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_46 {
  overflow: visible;
  position: absolute;
  width: 133.319px;
  height: 2px;
  left: 0.366px;
  top: 64.539px;
  transform: matrix(1,0,0,1,0,0);
}
#___bb {
  left: 155px;
  top: 40px;
  position: absolute;
  overflow: visible;
  width: 103px;
  white-space: nowrap;
  line-height: 25px;
  margin-top: -6px;
  text-align: center;
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  color: rgba(112,112,112,1);
}
#Line_47 {
  fill: transparent;
  stroke: rgba(112,112,112,1);
  stroke-width: 3px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_47 {
  overflow: visible;
  position: absolute;
  width: 130.389px;
  height: 3px;
  left: 143.94px;
  top: 64.539px;
  transform: matrix(1,0,0,1,0,0);
}
