
#Rectangle_11 {
    fill: rgba(211,211,211,1);
  }
  .Rectangle_11 {
    position: absolute;
    overflow: visible;
    width: 289px;
    height: 26px;
    left: -14px;
    top: 0px;
  }
  #Rectangle_13 {
    fill: rgba(255,255,255,1);
  }
  .Rectangle_13 {
    position: absolute;
    overflow: visible;
    width: 23px;
    height: 3px;
    left: 5px;
    top: 12px;
  }
  #Rectangle_14 {
    fill: rgba(255,255,255,1);
  }
  .Rectangle_14 {
    position: absolute;
    overflow: visible;
    width: 23px;
    height: 2px;
    left: 5px;
    top: 7px;
  }
  #Rectangle_15 {
    fill: rgba(255,255,255,1);
  }
  .Rectangle_15 {
    position: absolute;
    overflow: visible;
    width: 23px;
    height: 2px;
    left: 5px;
    top: 18px;
  }
  #Group_34 {
    position: absolute;
    width: 17.479px;
    height: 20.01px;
    left: 252.858px;
    top: 3.862px;
    overflow: visible;
  }
  #Group_29_be {
    position: absolute;
    width: 3.84px;
    height: 3.84px;
    left: 7.5px;
    top: 7.005px;
    overflow: visible;
  }
  #Rectangle_66_bf {
    fill: rgba(255,29,37,1);
  }
  .Rectangle_66_bf {
    position: absolute;
    overflow: visible;
    width: 1.319px;
    height: 3.84px;
    left: 1.26px;
    top: 0px;
  }
  #Rectangle_67_bg {
    fill: rgba(255,29,37,1);
  }
  .Rectangle_67_bg {
    width: 1.319px;
    height: 3.84px;
    position: absolute;
    overflow: visible;
    transform: translate(0px, 0px) matrix(1,0,0,1,1.2602,-0.0894) rotate(90deg);
    transform-origin: center;
  }
  #Group_30_bh {
    position: absolute;
    width: 17.479px;
    height: 20.01px;
    left: 0px;
    top: 0px;
    overflow: visible;
  }
  #Path_86_bi {
    fill: rgba(255,255,255,1);
  }
  .Path_86_bi {
    overflow: visible;
    position: absolute;
    width: 16.07px;
    height: 8.524px;
    left: 1.409px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
  }
  #Path_87_bj {
    fill: rgba(255,255,255,1);
  }
  .Path_87_bj {
    overflow: visible;
    position: absolute;
    width: 12.223px;
    height: 10.585px;
    left: 3.062px;
    top: 9.425px;
    transform: matrix(1,0,0,1,0,0);
  }
  #Path_88_bk {
    fill: rgba(255,255,255,1);
  }
  .Path_88_bk {
    overflow: visible;
    position: absolute;
    width: 1.41px;
    height: 1.395px;
    left: 0.997px;
    top: 14.863px;
    transform: matrix(1,0,0,1,0,0);
  }
  #Ellipse_23_bl {
    fill: rgba(255,255,255,1);
  }
  .Ellipse_23_bl {
    position: absolute;
    overflow: visible;
    width: 1.472px;
    height: 1.472px;
    left: 0.935px;
    top: 14.78px;
  }
  #Path_89_bm {
    fill: rgba(255,255,255,1);
  }
  .Path_89_bm {
    overflow: visible;
    position: absolute;
    width: 3.342px;
    height: 3.342px;
    left: 0px;
    top: 13.845px;
    transform: matrix(1,0,0,1,0,0);
  }

  #__ {
    left: 167px;
    top: 40px;
    position: absolute;
    overflow: visible;
    width: 79px;
    white-space: nowrap;
    line-height: 19px;
    margin-top: -4.5px;
    text-align: center;
    font-family: Heebo;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    color: rgba(112,112,112,1);
}
#\\ {
    left: 43px;
    top: 40px;
    position: absolute;
    overflow: visible;
    width: 53px;
    white-space: nowrap;
    line-height: 19px;
    margin-top: -4.5px;
    text-align: center;
    font-family: Heebo;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    color: rgba(253,0,16,1);
}
#Line_2 {
    fill: transparent;
    stroke: rgba(253,0,16,1);
    stroke-width: 2px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Line_2 {
    overflow: visible;
    position: absolute;
    width: 133.319px;
    height: 2px;
    left: 0.366px;
    top: 64.539px;
    transform: matrix(1,0,0,1,0,0);
}
#Line_3 {
    fill: transparent;
    stroke: rgba(112,112,112,1);
    stroke-width: 3px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Line_3 {
    overflow: visible;
    position: absolute;
    width: 130.389px;
    height: 3px;
    left: 143.94px;
    top: 64.539px;
    transform: matrix(1,0,0,1,0,0);
}