
.mediaViewInfo {
  --web-view-name: מסך 2 – 2;
  --web-view-id: _2__2;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
:root {
  --web-view-ids: _2__2;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
#_2__2 {
  position: absolute;
  width: 273px;
  height: 567px;
  background-color: rgba(255,255,255,0);
  overflow: hidden;
  --web-view-name: מסך 2 – 2;
  --web-view-id: _2__2;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
#___ {
  left: 91px;
  top: 101px;
  position: absolute;
  overflow: visible;
  width: 75px;
  white-space: nowrap;
  line-height: 10px;
  margin-top: -1px;
  text-align: center;
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  color: rgba(0,0,0,1);
}
#Rectangle_83 {
  fill: rgba(255,255,255,1);
}
.Rectangle_83 {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.239));
  position: absolute;
  overflow: visible;
  width: 68px;
  height: 101px;
  left: 16px;
  top: 331px;
}
#Rectangle_84 {
  fill: rgba(255,255,255,1);
}
.Rectangle_84 {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.239));
  position: absolute;
  overflow: visible;
  width: 68px;
  height: 101px;
  left: 74px;
  top: 331px;
}
#Rectangle_86 {
  fill: rgba(255,255,255,1);
}
.Rectangle_86 {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.239));
  position: absolute;
  overflow: visible;
  width: 69px;
  height: 101px;
  left: 134px;
  top: 331px;
}
#Rectangle_87 {
  fill: rgba(255,255,255,1);
}
.Rectangle_87 {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.239));
  position: absolute;
  overflow: visible;
  width: 86px;
  height: 101px;
  left: 195px;
  top: 331px;
}
#Rectangle_73 {
  fill: rgba(255,255,255,1);
}
.Rectangle_73 {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
  position: absolute;
  overflow: visible;
  width: 68px;
  height: 99px;
  left: 16px;
  top: 130px;
}
#Rectangle_77 {
  fill: rgba(255,255,255,1);
}
.Rectangle_77 {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
  position: absolute;
  overflow: visible;
  width: 68px;
  height: 101px;
  left: 213px;
  top: 230px;
}
#Rectangle_74 {
  fill: rgba(255,255,255,1);
}
.Rectangle_74 {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
  position: absolute;
  overflow: visible;
  width: 68px;
  height: 99px;
  left: 74px;
  top: 130px;
}
#Rectangle_78 {
  fill: rgba(255,255,255,1);
  stroke: rgba(0,189,101,1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_78 {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
  position: absolute;
  overflow: visible;
  width: 68px;
  height: 101px;
  left: 154px;
  top: 230px;
}
#Rectangle_75 {
  fill: rgba(255,255,255,1);
}
.Rectangle_75 {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
  position: absolute;
  overflow: visible;
  width: 69px;
  height: 99px;
  left: 134px;
  top: 130px;
}
#Rectangle_79 {
  fill: rgba(255,255,255,1);
}
.Rectangle_79 {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
  position: absolute;
  overflow: visible;
  width: 69px;
  height: 101px;
  left: 93px;
  top: 230px;
}
#Rectangle_76 {
  fill: rgba(255,255,255,1);
}
.Rectangle_76 {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
  position: absolute;
  overflow: visible;
  width: 86px;
  height: 99px;
  left: 195px;
  top: 130px;
}
#Rectangle_80 {
  fill: rgba(255,255,255,1);
}
.Rectangle_80 {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
  position: absolute;
  overflow: visible;
  width: 85px;
  height: 101px;
  left: 16px;
  top: 230px;
}
#\\ {
  left: 83px;
  top: 187px;
  position: absolute;
  overflow: visible;
  width: 27px;
  white-space: nowrap;
  line-height: 24px;
  margin-top: -7px;
  text-align: center;
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  color: rgba(0,0,0,1);
}
#_ {
  left: 83px;
  top: 388px;
  position: absolute;
  overflow: visible;
  width: 27px;
  white-space: nowrap;
  line-height: 24px;
  margin-top: -7px;
  text-align: center;
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  color: rgba(0,0,0,1);
}
#_ba {
  left: 163px;
  top: 288px;
  position: absolute;
  overflow: visible;
  width: 27px;
  white-space: nowrap;
  line-height: 24px;
  margin-top: -7px;
  text-align: center;
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  color: rgba(0,0,0,1);
}
#__ {
  left: 204px;
  top: 187px;
  position: absolute;
  overflow: visible;
  width: 41px;
  white-space: nowrap;
  line-height: 24px;
  margin-top: -7px;
  text-align: center;
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  color: rgba(0,0,0,1);
}
#__ba {
  left: 204px;
  top: 388px;
  position: absolute;
  overflow: visible;
  width: 41px;
  white-space: nowrap;
  line-height: 24px;
  margin-top: -7px;
  text-align: center;
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  color: rgba(0,0,0,1);
}
#__bb {
  left: 27px;
  top: 288px;
  position: absolute;
  overflow: visible;
  width: 41px;
  white-space: nowrap;
  line-height: 24px;
  margin-top: -7px;
  text-align: center;
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  color: rgba(0,0,0,1);
}
#_bb {
  left: 143px;
  top: 187px;
  position: absolute;
  overflow: visible;
  width: 29px;
  white-space: nowrap;
  line-height: 24px;
  margin-top: -7px;
  text-align: center;
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  color: rgba(0,0,0,1);
}
#_bc {
  left: 143px;
  top: 388px;
  position: absolute;
  overflow: visible;
  width: 29px;
  white-space: nowrap;
  line-height: 24px;
  margin-top: -7px;
  text-align: center;
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  color: rgba(0,0,0,1);
}
#_bd {
  left: 102px;
  top: 288px;
  position: absolute;
  overflow: visible;
  width: 29px;
  white-space: nowrap;
  line-height: 24px;
  margin-top: -7px;
  text-align: center;
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  color: rgba(0,0,0,1);
}
#_be {
  left: 32px;
  top: 187px;
  position: absolute;
  overflow: visible;
  width: 17px;
  white-space: nowrap;
  line-height: 24px;
  margin-top: -7px;
  text-align: center;
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  color: rgba(0,0,0,1);
}
#_bf {
  left: 32px;
  top: 388px;
  position: absolute;
  overflow: visible;
  width: 17px;
  white-space: nowrap;
  line-height: 24px;
  margin-top: -7px;
  text-align: center;
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  color: rgba(0,0,0,1);
}
#_bg {
  left: 228px;
  top: 288px;
  position: absolute;
  overflow: visible;
  width: 17px;
  white-space: nowrap;
  line-height: 24px;
  margin-top: -7px;
  text-align: center;
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  color: rgba(0,0,0,1);
}
#Group_36 {
  position: absolute;
  width: 24.739px;
  height: 22.762px;
  left: 215.433px;
  top: 149.904px;
  overflow: visible;
}
#Path_94 {
  fill: rgba(0,0,0,0);
  stroke: rgba(108,108,106,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 10;
  shape-rendering: auto;
}
.Path_94 {
  overflow: visible;
  position: absolute;
  width: 25.739px;
  height: 17.41px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_95 {
  fill: rgba(253,0,16,1);
}
.Path_95 {
  overflow: visible;
  position: absolute;
  width: 22.573px;
  height: 14.958px;
  left: 1.101px;
  top: 7.804px;
  transform: matrix(1,0,0,1,0,0);
}
#Group_50 {
  position: absolute;
  width: 24.739px;
  height: 22.762px;
  left: 215.433px;
  top: 351.272px;
  overflow: visible;
}
#Path_94_bk {
  fill: rgba(0,0,0,0);
  stroke: rgba(108,108,106,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 10;
  shape-rendering: auto;
}
.Path_94_bk {
  overflow: visible;
  position: absolute;
  width: 25.739px;
  height: 17.41px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_95_bl {
  fill: rgba(253,0,16,1);
}
.Path_95_bl {
  overflow: visible;
  position: absolute;
  width: 22.573px;
  height: 14.958px;
  left: 1.101px;
  top: 7.804px;
  transform: matrix(1,0,0,1,0,0);
}
#Group_43 {
  position: absolute;
  width: 24.739px;
  height: 22.762px;
  left: 38.188px;
  top: 250.588px;
  overflow: visible;
}
#Path_94_bn {
  fill: rgba(0,0,0,0);
  stroke: rgba(108,108,106,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 10;
  shape-rendering: auto;
}
.Path_94_bn {
  overflow: visible;
  position: absolute;
  width: 25.739px;
  height: 17.41px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_95_bo {
  fill: rgba(253,0,16,1);
}
.Path_95_bo {
  overflow: visible;
  position: absolute;
  width: 22.573px;
  height: 14.958px;
  left: 1.065px;
  top: 7.804px;
  transform: matrix(1,0,0,1,0,0);
}
#Group_37 {
  position: absolute;
  width: 17.492px;
  height: 24.724px;
  left: 150.285px;
  top: 148.424px;
  overflow: visible;
}
#Path_96 {
  fill: rgba(0,0,0,0);
  stroke: rgba(114,114,112,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 10;
  shape-rendering: auto;
}
.Path_96 {
  overflow: visible;
  position: absolute;
  width: 11.674px;
  height: 12.666px;
  left: 7.002px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_97 {
  fill: rgba(253,0,16,1);
}
.Path_97 {
  overflow: visible;
  position: absolute;
  width: 9.47px;
  height: 8.367px;
  left: 3.942px;
  top: 8.191px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_98 {
  fill: rgba(0,0,0,0);
  stroke: rgba(114,114,112,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 10;
  shape-rendering: auto;
}
.Path_98 {
  overflow: visible;
  position: absolute;
  width: 11.762px;
  height: 12.743px;
  left: 0px;
  top: 13.269px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_99 {
  fill: rgba(253,0,16,1);
}
.Path_99 {
  overflow: visible;
  position: absolute;
  width: 2.118px;
  height: 2.889px;
  left: 10.245px;
  top: 2.292px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_100 {
  fill: rgba(253,0,16,1);
}
.Path_100 {
  overflow: visible;
  position: absolute;
  width: 2.125px;
  height: 2.887px;
  left: 11.378px;
  top: 2.923px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_101 {
  fill: rgba(253,0,16,1);
}
.Path_101 {
  overflow: visible;
  position: absolute;
  width: 2.096px;
  height: 2.872px;
  left: 12.52px;
  top: 3.586px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_102 {
  fill: rgba(253,0,16,1);
}
.Path_102 {
  overflow: visible;
  position: absolute;
  width: 2.108px;
  height: 2.896px;
  left: 13.65px;
  top: 4.209px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_103 {
  fill: rgba(253,0,16,1);
}
.Path_103 {
  overflow: visible;
  position: absolute;
  width: 2.163px;
  height: 2.859px;
  left: 3.384px;
  top: 17.188px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_104 {
  fill: rgba(253,0,16,1);
}
.Path_104 {
  overflow: visible;
  position: absolute;
  width: 2.173px;
  height: 2.859px;
  left: 4.488px;
  top: 17.871px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_105 {
  fill: rgba(253,0,16,1);
}
.Path_105 {
  overflow: visible;
  position: absolute;
  width: 2.147px;
  height: 2.859px;
  left: 5.619px;
  top: 18.557px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_106 {
  fill: rgba(253,0,16,1);
}
.Path_106 {
  overflow: visible;
  position: absolute;
  width: 2.174px;
  height: 2.859px;
  left: 2.279px;
  top: 16.502px;
  transform: matrix(1,0,0,1,0,0);
}
#Group_47 {
  position: absolute;
  width: 17.492px;
  height: 24.724px;
  left: 150.285px;
  top: 349.791px;
  overflow: visible;
}
#Path_96_b {
  fill: rgba(0,0,0,0);
  stroke: rgba(114,114,112,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 10;
  shape-rendering: auto;
}
.Path_96_b {
  overflow: visible;
  position: absolute;
  width: 11.674px;
  height: 12.666px;
  left: 7.002px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_97_b {
  fill: rgba(253,0,16,1);
}
.Path_97_b {
  overflow: visible;
  position: absolute;
  width: 9.47px;
  height: 8.367px;
  left: 3.942px;
  top: 8.191px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_98_b {
  fill: rgba(0,0,0,0);
  stroke: rgba(114,114,112,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 10;
  shape-rendering: auto;
}
.Path_98_b {
  overflow: visible;
  position: absolute;
  width: 11.762px;
  height: 12.743px;
  left: 0px;
  top: 13.269px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_99_b {
  fill: rgba(253,0,16,1);
}
.Path_99_b {
  overflow: visible;
  position: absolute;
  width: 2.118px;
  height: 2.889px;
  left: 10.245px;
  top: 2.292px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_100_b {
  fill: rgba(253,0,16,1);
}
.Path_100_b {
  overflow: visible;
  position: absolute;
  width: 2.125px;
  height: 2.887px;
  left: 11.378px;
  top: 2.923px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_101_b {
  fill: rgba(253,0,16,1);
}
.Path_101_b {
  overflow: visible;
  position: absolute;
  width: 2.096px;
  height: 2.872px;
  left: 12.52px;
  top: 3.586px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_102_b {
  fill: rgba(253,0,16,1);
}
.Path_102_b {
  overflow: visible;
  position: absolute;
  width: 2.108px;
  height: 2.896px;
  left: 13.65px;
  top: 4.209px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_103_b {
  fill: rgba(253,0,16,1);
}
.Path_103_b {
  overflow: visible;
  position: absolute;
  width: 2.163px;
  height: 2.859px;
  left: 3.384px;
  top: 17.188px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_104_ca {
  fill: rgba(253,0,16,1);
}
.Path_104_ca {
  overflow: visible;
  position: absolute;
  width: 2.173px;
  height: 2.859px;
  left: 4.488px;
  top: 17.871px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_105_cb {
  fill: rgba(253,0,16,1);
}
.Path_105_cb {
  overflow: visible;
  position: absolute;
  width: 2.147px;
  height: 2.859px;
  left: 5.619px;
  top: 18.557px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_106_cc {
  fill: rgba(253,0,16,1);
}
.Path_106_cc {
  overflow: visible;
  position: absolute;
  width: 2.174px;
  height: 2.859px;
  left: 2.279px;
  top: 16.502px;
  transform: matrix(1,0,0,1,0,0);
}
#Group_40 {
  position: absolute;
  width: 17.492px;
  height: 24.724px;
  left: 110.583px;
  top: 249.107px;
  overflow: visible;
}
#Path_96_ce {
  fill: rgba(0,0,0,0);
  stroke: rgba(114,114,112,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 10;
  shape-rendering: auto;
}
.Path_96_ce {
  overflow: visible;
  position: absolute;
  width: 11.674px;
  height: 12.666px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_97_cf {
  fill: rgba(253,0,16,1);
}
.Path_97_cf {
  overflow: visible;
  position: absolute;
  width: 9.47px;
  height: 8.367px;
  left: 4.08px;
  top: 8.191px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_98_cg {
  fill: rgba(0,0,0,0);
  stroke: rgba(114,114,112,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 10;
  shape-rendering: auto;
}
.Path_98_cg {
  overflow: visible;
  position: absolute;
  width: 11.762px;
  height: 12.743px;
  left: 7.026px;
  top: 13.269px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_99_ch {
  fill: rgba(253,0,16,1);
}
.Path_99_ch {
  overflow: visible;
  position: absolute;
  width: 2.117px;
  height: 2.889px;
  left: 5.13px;
  top: 2.292px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_100_ci {
  fill: rgba(253,0,16,1);
}
.Path_100_ci {
  overflow: visible;
  position: absolute;
  width: 2.125px;
  height: 2.887px;
  left: 3.989px;
  top: 2.923px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_101_cj {
  fill: rgba(253,0,16,1);
}
.Path_101_cj {
  overflow: visible;
  position: absolute;
  width: 2.095px;
  height: 2.872px;
  left: 2.876px;
  top: 3.586px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_102_ck {
  fill: rgba(253,0,16,1);
}
.Path_102_ck {
  overflow: visible;
  position: absolute;
  width: 2.108px;
  height: 2.896px;
  left: 1.734px;
  top: 4.209px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_103_cl {
  fill: rgba(253,0,16,1);
}
.Path_103_cl {
  overflow: visible;
  position: absolute;
  width: 2.163px;
  height: 2.859px;
  left: 11.945px;
  top: 17.188px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_104_cm {
  fill: rgba(253,0,16,1);
}
.Path_104_cm {
  overflow: visible;
  position: absolute;
  width: 2.173px;
  height: 2.859px;
  left: 10.831px;
  top: 17.871px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_105_cn {
  fill: rgba(253,0,16,1);
}
.Path_105_cn {
  overflow: visible;
  position: absolute;
  width: 2.147px;
  height: 2.859px;
  left: 9.726px;
  top: 18.557px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_106_co {
  fill: rgba(253,0,16,1);
}
.Path_106_co {
  overflow: visible;
  position: absolute;
  width: 2.174px;
  height: 2.859px;
  left: 13.039px;
  top: 16.502px;
  transform: matrix(1,0,0,1,0,0);
}
#Group_38 {
  position: absolute;
  width: 17.788px;
  height: 26.672px;
  left: 90.319px;
  top: 147.684px;
  overflow: visible;
}
#Path_107 {
  fill: rgba(0,0,0,0);
  stroke: rgba(108,108,106,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 10;
  shape-rendering: auto;
}
.Path_107 {
  overflow: visible;
  position: absolute;
  width: 18.81px;
  height: 27.675px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_108 {
  fill: rgba(253,0,16,1);
}
.Path_108 {
  overflow: visible;
  position: absolute;
  width: 0.724px;
  height: 0.724px;
  left: 6.558px;
  top: 20.316px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_109 {
  fill: rgba(253,0,16,1);
}
.Path_109 {
  overflow: visible;
  position: absolute;
  width: 0.684px;
  height: 0.723px;
  left: 6.102px;
  top: 7.032px;
  transform: matrix(1,0,0,1,0,0);
}
#Group_48 {
  position: absolute;
  width: 17.788px;
  height: 26.672px;
  left: 90.319px;
  top: 349.051px;
  overflow: visible;
}
#Path_107_cu {
  fill: rgba(0,0,0,0);
  stroke: rgba(108,108,106,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 10;
  shape-rendering: auto;
}
.Path_107_cu {
  overflow: visible;
  position: absolute;
  width: 18.81px;
  height: 27.675px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_108_cv {
  fill: rgba(253,0,16,1);
}
.Path_108_cv {
  overflow: visible;
  position: absolute;
  width: 0.724px;
  height: 0.724px;
  left: 6.558px;
  top: 20.315px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_109_cw {
  fill: rgba(253,0,16,1);
}
.Path_109_cw {
  overflow: visible;
  position: absolute;
  width: 0.684px;
  height: 0.723px;
  left: 6.102px;
  top: 7.032px;
  transform: matrix(1,0,0,1,0,0);
}
#Group_41 {
  position: absolute;
  width: 17.788px;
  height: 26.672px;
  left: 170.253px;
  top: 248.367px;
  overflow: visible;
}
#Path_107_cy {
  fill: rgba(0,0,0,0);
  stroke: rgba(108,108,106,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 10;
  shape-rendering: auto;
}
.Path_107_cy {
  overflow: visible;
  position: absolute;
  width: 18.81px;
  height: 27.675px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_108_cz {
  fill: rgba(253,0,16,1);
}
.Path_108_cz {
  overflow: visible;
  position: absolute;
  width: 0.724px;
  height: 0.724px;
  left: 10.506px;
  top: 20.316px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_109_c {
  fill: rgba(253,0,16,1);
}
.Path_109_c {
  overflow: visible;
  position: absolute;
  width: 0.684px;
  height: 0.723px;
  left: 11.002px;
  top: 7.032px;
  transform: matrix(1,0,0,1,0,0);
}
#Group_39 {
  position: absolute;
  width: 17.432px;
  height: 24.322px;
  left: 31.834px;
  top: 149.164px;
  overflow: visible;
}
#Path_110 {
  fill: rgba(253,0,16,1);
}
.Path_110 {
  overflow: visible;
  position: absolute;
  width: 5.329px;
  height: 1.598px;
  left: 12.104px;
  top: 1.37px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_111 {
  fill: rgba(253,0,16,1);
}
.Path_111 {
  overflow: visible;
  position: absolute;
  width: 5.329px;
  height: 1.561px;
  left: 12.104px;
  top: 5.101px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_112 {
  fill: rgba(253,0,16,1);
}
.Path_112 {
  overflow: visible;
  position: absolute;
  width: 5.329px;
  height: 1.637px;
  left: 12.104px;
  top: 8.755px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_113 {
  fill: rgba(253,0,16,1);
}
.Path_113 {
  overflow: visible;
  position: absolute;
  width: 5.177px;
  height: 1.598px;
  left: 12.255px;
  top: 12.219px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_114 {
  fill: rgba(0,0,0,0);
  stroke: rgba(114,114,112,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 10;
  shape-rendering: auto;
}
.Path_114 {
  overflow: visible;
  position: absolute;
  width: 12.838px;
  height: 25.322px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_115 {
  fill: rgba(255,255,255,1);
}
.Path_115 {
  overflow: visible;
  position: absolute;
  width: 8.641px;
  height: 21.125px;
  left: 1.597px;
  top: 1.598px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_116 {
  fill: rgba(253,0,16,1);
}
.Path_116 {
  overflow: visible;
  position: absolute;
  width: 5.594px;
  height: 13.741px;
  left: 3.121px;
  top: 7.422px;
  transform: matrix(1,0,0,1,0,0);
}
#Group_49 {
  position: absolute;
  width: 17.432px;
  height: 24.322px;
  left: 31.834px;
  top: 350.531px;
  overflow: visible;
}
#Path_110_da {
  fill: rgba(253,0,16,1);
}
.Path_110_da {
  overflow: visible;
  position: absolute;
  width: 5.329px;
  height: 1.598px;
  left: 12.104px;
  top: 1.37px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_111_db {
  fill: rgba(253,0,16,1);
}
.Path_111_db {
  overflow: visible;
  position: absolute;
  width: 5.329px;
  height: 1.561px;
  left: 12.104px;
  top: 5.101px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_112_dc {
  fill: rgba(253,0,16,1);
}
.Path_112_dc {
  overflow: visible;
  position: absolute;
  width: 5.329px;
  height: 1.637px;
  left: 12.104px;
  top: 8.755px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_113_dd {
  fill: rgba(253,0,16,1);
}
.Path_113_dd {
  overflow: visible;
  position: absolute;
  width: 5.177px;
  height: 1.598px;
  left: 12.255px;
  top: 12.219px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_114_de {
  fill: rgba(0,0,0,0);
  stroke: rgba(114,114,112,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 10;
  shape-rendering: auto;
}
.Path_114_de {
  overflow: visible;
  position: absolute;
  width: 12.838px;
  height: 25.322px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_115_df {
  fill: rgba(255,255,255,1);
}
.Path_115_df {
  overflow: visible;
  position: absolute;
  width: 8.641px;
  height: 21.125px;
  left: 1.597px;
  top: 1.598px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_116_dg {
  fill: rgba(253,0,16,1);
}
.Path_116_dg {
  overflow: visible;
  position: absolute;
  width: 5.594px;
  height: 13.741px;
  left: 3.121px;
  top: 7.422px;
  transform: matrix(1,0,0,1,0,0);
}
#Group_42 {
  position: absolute;
  width: 17.432px;
  height: 24.322px;
  left: 228.759px;
  top: 249.848px;
  overflow: visible;
}
#Path_110_di {
  fill: rgba(253,0,16,1);
}
.Path_110_di {
  overflow: visible;
  position: absolute;
  width: 5.329px;
  height: 1.598px;
  left: 0px;
  top: 1.37px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_111_dj {
  fill: rgba(253,0,16,1);
}
.Path_111_dj {
  overflow: visible;
  position: absolute;
  width: 5.329px;
  height: 1.561px;
  left: 0px;
  top: 5.101px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_112_dk {
  fill: rgba(253,0,16,1);
}
.Path_112_dk {
  overflow: visible;
  position: absolute;
  width: 5.329px;
  height: 1.637px;
  left: 0px;
  top: 8.755px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_113_dl {
  fill: rgba(253,0,16,1);
}
.Path_113_dl {
  overflow: visible;
  position: absolute;
  width: 5.177px;
  height: 1.598px;
  left: 0px;
  top: 12.219px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_114_dm {
  fill: rgba(0,0,0,0);
  stroke: rgba(114,114,112,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 10;
  shape-rendering: auto;
}
.Path_114_dm {
  overflow: visible;
  position: absolute;
  width: 12.839px;
  height: 25.322px;
  left: 5.594px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_115_dn {
  fill: rgba(255,255,255,1);
}
.Path_115_dn {
  overflow: visible;
  position: absolute;
  width: 8.641px;
  height: 21.125px;
  left: 7.194px;
  top: 1.598px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_116_do {
  fill: rgba(253,0,16,1);
}
.Path_116_do {
  overflow: visible;
  position: absolute;
  width: 5.594px;
  height: 13.741px;
  left: 8.718px;
  top: 7.422px;
  transform: matrix(1,0,0,1,0,0);
}
#Component_1__5 {
  position: absolute;
  width: 278px;
  height: 41px;
  left: -3px;
  top: 510px;
  overflow: visible;
}
#Rectangle_8 {
  fill: rgba(253,0,16,1);
}
.Rectangle_8 {
  position: absolute;
  overflow: visible;
  width: 278px;
  height: 41px;
  left: 0px;
  top: 0px;
}
#__dr {
  left: 117px;
  top: 11px;
  position: absolute;
  overflow: visible;
  width: 35px;
  white-space: nowrap;
  line-height: 25px;
  margin-top: -6px;
  text-align: center;
  font-family: Heebo;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  color: rgba(255,255,255,1);
}
#___ds {
  left: 155px;
  top: 40px;
  position: absolute;
  overflow: visible;
  width: 103px;
  white-space: nowrap;
  line-height: 25px;
  margin-top: -6px;
  text-align: center;
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  color: rgba(112,112,112,1);
}
#_dt {
  left: 36px;
  top: 40px;
  position: absolute;
  overflow: visible;
  width: 67px;
  white-space: nowrap;
  line-height: 25px;
  margin-top: -6px;
  text-align: center;
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  color: rgba(253,0,16,1);
}
#Line_2 {
  fill: transparent;
  stroke: rgba(253,0,16,1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_2 {
  overflow: visible;
  position: absolute;
  width: 133.319px;
  height: 2px;
  left: 0.366px;
  top: 64.539px;
  transform: matrix(1,0,0,1,0,0);
}
#Line_3 {
  fill: transparent;
  stroke: rgba(112,112,112,1);
  stroke-width: 3px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_3 {
  overflow: visible;
  position: absolute;
  width: 130.389px;
  height: 3px;
  left: 143.94px;
  top: 64.539px;
  transform: matrix(1,0,0,1,0,0);
}
