<ion-content [fullscreen]="true" class="background">

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://apis.google.com/js/platform.js"></script>
    <script src="https://apis.google.com/js/client.js"></script>
    <script src="https://apis.google.com/js/client.js?onload=load"></script>    
    <script src="https://apis.google.com/js/api.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
  </head>

  <body>
    <div >
      <div id="___">
        <span>לחץ על פציעות נוספות</span>
      </div>
      
      <table>
        <tbody id="form" class="scrollbar scrollbar-primary" >
          <tr *ngFor="let list of splitedCases ; let i=index" >
              <td  *ngFor="let case of list; let j=index"  class="Rectangle_76" (click)="clickCases(i,j)">
                <ion-card id="Rectangle_76" tabindex="0" rx="20" ry="20" x="0" y="0" width="63" height="75" [class.choose]="isChoosen(i,j)">
                  <div id="firstLetter" >
                    <span>{{case.caseName[0]}} </span>
                  </div>
                  <div id="__">
                    <span>{{case.caseName}} </span>
                  </div>
                </ion-card>
              </td>
          </tr>
        </tbody>
      </table>
      <button (click)="goToDoctors()" routerLinkActive="activelink" >
        <div id="Component_1__8" class="Component_1___8">
          <svg class="Rectangle_8">
            <rect id="Rectangle_8" rx="0" ry="0" x="0" y="0" width="307" height="41">
            </rect>
          </svg>
          <div id="_dr" >
            <span>
              עבור למע"ר בתחום</span>
          </div>
        </div>
      </button>
      <button routerLink="/login" routerLinkActive="activelink">
        <div id="___ds">
          <span>מגיש עזרה ראשונה</span>
        </div>
      </button>
      <button routerLink="/microphone" routerLinkActive="activelink">
        <div id="_dt">
          <span>מטופל/פצוע</span>
        </div>
      </button>
      <svg class="Line_2" viewBox="0 0 133.319 2">
        <path id="Line_2" d="M 0 0 L 133.3186798095703 0">
        </path>
      </svg>
      <svg class="Line_3" viewBox="0 0 130.389 3">
        <path id="Line_3" d="M 0 0 L 130.3885955810547 0">
        </path>
      </svg>
    </div>
  </body>
</ion-content>