<ion-content [fullscreen]="true" class="background">

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>

  <body>
    <div id="_2__2">
      <div id="___">
        <span>לחץ על פציעות נוספות</span>
      </div>
      <table>
        <tbody id="form" class="scrollbar scrollbar-primary" >
          <tr *ngFor="let case of [].constructor(len);let j=index" >
              <td  class="Rectangle_76" (click)="clickCorrectCase()">
                <ion-card id="Rectangle_76" tabindex="0" rx="20" ry="20" x="0" y="0" width="63" height="75">
                  <div id="firstLetter">
                    <span>{{allCases[i].caseName[0]}} </span>
                  </div>
                  <div id="__">
                    <span>{{allCases[add()].caseName}} </span>
                  </div>
                </ion-card>
              </td>
           
           
              <td  class="Rectangle_76" (click)="clickCorrectCase()" >
                <ion-card id="Rectangle_76" tabindex="0" rx="20" ry="20" x="0" y="0" width="63" height="75">
                  <div id="firstLetter">
                    <span>{{allCases[i].caseName[0]}} </span>
                  </div>
                  <div id="__">
                    <span>{{allCases[add()].caseName}} </span>
                  </div>
                </ion-card>

              </td>
            
            
              <td  class="Rectangle_76" (click)="clickCorrectCase()">
                <ion-card  id="Rectangle_76" tabindex="0" rx="20" ry="20" x="0" y="0" width="63" height="75" [ngClass]="'{choose:isChoose}'">
                  <div id="firstLetter" >
                    <span>{{allCases[i].caseName[0]}} </span>
                  </div>
                  <div id="__">
                    <span>{{allCases[add()].caseName}} </span>
                  </div>
                </ion-card>
              </td>
           
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</ion-content>