.mediaViewInfo {
	--web-view-name: Plan de travail – 1;
	--web-view-id: Plan_de_travail__1;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Plan_de_travail__1;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Plan_de_travail__1 {
	position: absolute;
	width: 273px;
	height: 569px;
	background-color: #1B2024;
	overflow: hidden;
	--web-view-name: Plan de travail – 1;
	--web-view-id: Plan_de_travail__1;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#Rectangle_1 {
	fill: rgba(0,0,0,0);
}
.Rectangle_1 {
	position: absolute;
	overflow: visible;
	width: 1176.792px;
	height: 2088.979px;
	left: -149px;
	top: 286px;
}
#Rectangle_3_j {
	fill: url(#Rectangle_3_j);
}
.Rectangle_3_j {
	width: 569px;
	height: 273px;
	position: absolute;
	overflow: visible;
	transform: matrix(1,0,0,1,-148,148) rotate(270deg);
	transform-origin: center;
	//background-color: black;
}
#Group_17 {
	position: absolute;
	width: 36px;
	height: 37px;
	left: 211px;
	top: 90px;
	overflow: visible;
}
#Group_2 {
	position: absolute;
	width: 36px;
	height: 37px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_1 {
	position: absolute;
	width: 30px;
	height: 37px;
	left:2.8px;
	top: 0px;
	overflow: visible;
	color: white;
}
#Ellipse_4 {
	fill: rgba(0,0,0,0);
	stroke: rgba(254,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Ellipse_4 {
	position: absolute;
	overflow: visible;
	width: 37px;
	height: 38px;
	left: 0px;
	top: 0px;
}
#Group_19 {
	position: absolute;
	width: 190.607px;
	height: 133.298px;
	left: 39.901px;
	top: 213.46px;
	overflow: visible;
}
#Ellipse_5 {
	fill: rgba(85,94,103,1);
}
.Ellipse_5 {
	position: absolute;
	overflow: visible;
	width: 53.193px;
	height: 53.193px;
	left: 0px;
	top: 0px;
}
#Ellipse_6 {
	fill: rgba(85,94,103,1);
}
.Ellipse_6 {
	position: absolute;
	overflow: visible;
	width: 53.193px;
	height: 53.193px;
	left: 69.024px;
	top: 0px;
}
#Ellipse_7 {
	fill: rgba(85,94,103,1);
}
.Ellipse_7 {
	position: absolute;
	overflow: visible;
	width: 53.193px;
	height: 53.193px;
	left: 136.781px;
	top: 0px;
}
#Ellipse_8 {
	fill: rgba(85,94,103,1);
}
.Ellipse_8 {
	position: absolute;
	overflow: visible;
	width: 53.193px;
	height: 53.193px;
	left: 0.633px;
	top: 80.106px;
}
#Ellipse_9 {
	fill: rgba(85,94,103,1);
}
.Ellipse_9 {
	position: absolute;
	overflow: visible;
	width: 53.193px;
	height: 53.193px;
	left: 69.657px;
	top: 80.106px;
}
#Ellipse_10 {
	fill: rgba(85,94,103,1);
}
.Ellipse_10 {
	position: absolute;
	overflow: visible;
	width: 53.193px;
	height: 53.193px;
	left: 137.414px;
	top: 80.106px;
}
#Group_23 {
	position: absolute;
	width: 26px;
	height: 25px;
	left: 191px;
	top: 308px;
	overflow: visible;
}
#Group_6 {
	position: absolute;
	width: 26px;
	height: 25px;
	left: 0px;
	top: 0px;
	overflow: visible;
	color: white;
}
#Group_5 {
	position: absolute;
	width: 26px;
	height: 25px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Ellipse_14 {
	fill: rgba(0,0,0,0);
	stroke: rgba(254,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Ellipse_14 {
	position: absolute;
	overflow: visible;
	width: 27px;
	height: 26px;
	left: 0px;
	top: 0px;
}
#Ellipse_25 {
	fill: rgba(249,56,56,1);
}
.Ellipse_25 {
	position: absolute;
	overflow: visible;
	width: 53.193px;
	height: 53.193px;
	left: 108.608px;
	top: 417.59px;
}
#Group_22 {
	position: absolute;
	width: 18.795px;
	height: 19.143px;
	left: 126.383px;
	top: 230.501px;
	overflow: visible;
}
#Group_8 {
	position: absolute;
	width: 18.795px;
	height: 4.873px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Ellipse_16 {
	fill: rgba(255,255,255,1);
}
.Ellipse_16 {
	position: absolute;
	overflow: visible;
	width: 4.873px;
	height: 4.873px;
	left: 0px;
	top: 0px;
}
#Ellipse_17 {
	fill: rgba(255,255,255,1);
}
.Ellipse_17 {
	position: absolute;
	overflow: visible;
	width: 4.873px;
	height: 4.873px;
	left: 6.961px;
	top: 0px;
}
#Ellipse_18 {
	fill: rgba(255,255,255,1);
}
.Ellipse_18 {
	position: absolute;
	overflow: visible;
	width: 4.873px;
	height: 4.873px;
	left: 13.922px;
	top: 0px;
}
#Group_9 {
	position: absolute;
	width: 18.795px;
	height: 4.873px;
	left: 0px;
	top: 7.135px;
	overflow: visible;
}
#Ellipse_19 {
	fill: rgba(255,255,255,1);
}
.Ellipse_19 {
	position: absolute;
	overflow: visible;
	width: 4.873px;
	height: 4.873px;
	left: 0px;
	top: 0px;
}
#Ellipse_20 {
	fill: rgba(255,255,255,1);
}
.Ellipse_20 {
	position: absolute;
	overflow: visible;
	width: 4.873px;
	height: 4.873px;
	left: 6.961px;
	top: 0px;
}
#Ellipse_21 {
	fill: rgba(255,255,255,1);
}
.Ellipse_21 {
	position: absolute;
	overflow: visible;
	width: 4.873px;
	height: 4.873px;
	left: 13.922px;
	top: 0px;
}
#Group_10 {
	position: absolute;
	width: 18.795px;
	height: 4.873px;
	left: 0px;
	top: 14.27px;
	overflow: visible;
}
#Ellipse_22 {
	fill: rgba(255,255,255,1);
}
.Ellipse_22 {
	position: absolute;
	overflow: visible;
	width: 4.873px;
	height: 4.873px;
	left: 0px;
	top: 0px;
}
#Ellipse_23 {
	fill: rgba(255,255,255,1);
}
.Ellipse_23 {
	position: absolute;
	overflow: visible;
	width: 4.873px;
	height: 4.873px;
	left: 6.961px;
	top: 0px;
}
#Ellipse_24 {
	fill: rgba(255,255,255,1);
}
.Ellipse_24 {
	position: absolute;
	overflow: visible;
	width: 4.873px;
	height: 4.873px;
	left: 13.922px;
	top: 0px;
}
#Path_13 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_13 {
	overflow: visible;
	position: absolute;
	width: 15.929px;
	height: 18.676px;
	left: 129.623px;
	top: 311.345px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_14 {
	fill: rgba(255,255,255,1);
}
.Path_14 {
	overflow: visible;
	position: absolute;
	width: 6.772px;
	height: 5.865px;
	left: 126.629px;
	top: 309.806px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_15 {
	fill: rgba(255,255,255,1);
}
.Path_15 {
	overflow: visible;
	position: absolute;
	width: 6.772px;
	height: 5.865px;
	left: 141.148px;
	top: 325.486px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_20 {
	position: absolute;
	width: 26.987px;
	height: 25.187px;
	left: 189.333px;
	top: 227.905px;
	overflow: visible;
}
#Path_6 {
	fill: rgba(255,255,255,1);
}
.Path_6 {
	overflow: visible;
	position: absolute;
	width: 5.236px;
	height: 18.318px;
	left: 21.751px;
	top: 3.434px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_7 {
	fill: rgba(255,255,255,1);
}
.Path_7 {
	overflow: visible;
	position: absolute;
	width: 16.188px;
	height: 25.187px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_8 {
	fill: rgba(255,255,255,1);
}
.Path_8 {
	overflow: visible;
	position: absolute;
	width: 4.176px;
	height: 13.241px;
	left: 19.216px;
	top: 5.972px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_25 {
	position: absolute;
	width: 34.126px;
	height: 13.735px;
	left: 117.929px;
	top: 437.328px;
	overflow: visible;
}
#Path_11 {
	fill: rgba(255,255,255,1);
}
.Path_11 {
	overflow: visible;
	position: absolute;
	width: 34.126px;
	height: 13.735px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Pasar_a_llamada {
	left: 100px;
	top: 351px;
	position: absolute;
	overflow: visible;
	width: 56px;
	white-space: nowrap;
	line-height: 10px;
	margin-top: -1px;
	text-align: left;
	font-family: MyriadHebrew-Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 8px;
	color: rgba(254,255,255,1);
}
#Sonido {
	left: 188.518px;
	top: 269.37px;
	position: absolute;
	overflow: visible;
	width: 26px;
	white-space: nowrap;
	line-height: 10px;
	margin-top: -1px;
	text-align: left;
	font-family: MyriadHebrew-Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 8px;
	color: rgba(254,255,255,1);
}
#Teclado {
	left: 120.004px;
	top: 269.37px;
	position: absolute;
	overflow: visible;
	width: 28px;
	white-space: nowrap;
	line-height: 10px;
	margin-top: -1px;
	text-align: left;
	font-family: MyriadHebrew-Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 8px;
	color: rgba(254,255,255,1);
}
#Conatctos {
	left: 185px;
	top: 351px;
	position: absolute;
	overflow: visible;
	width: 36px;
	white-space: nowrap;
	line-height: 10px;
	margin-top: -1px;
	text-align: left;
	font-family: MyriadHebrew-Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 8px;
	color: rgba(254,255,255,1);
}
#HOLD {
	opacity: 0.62;
	left: 210px;
	top: 60px;
	position: absolute;
	overflow: visible;
	width: 35px;
	white-space: nowrap;
	line-height: 15px;
	margin-top: -1px;
	text-align: left;
	font-family: MyriadHebrew-Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(255,255,252,1);
}
#Group_24 {
	position: absolute;
	width: 15.603px;
	height: 18.944px;
	left: 59.309px;
	top: 310.689px;
	overflow: visible;
}
#Path_1 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_1 {
	overflow: visible;
	position: absolute;
	width: 15.785px;
	height: 12.635px;
	left: 0px;
	top: 7.343px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2 {
	fill: rgba(255,255,255,1);
}
.Path_2 {
	overflow: visible;
	position: absolute;
	width: 8.494px;
	height: 7.356px;
	left: 3.627px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_21 {
	position: absolute;
	width: 23.848px;
	height: 28.258px;
	left: 55.117px;
	top: 225.821px;
	overflow: visible;
}
#Path_12 {
	fill: rgba(255,255,255,1);
}
.Path_12 {
	overflow: visible;
	position: absolute;
	width: 23.848px;
	height: 28.258px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Unir {
	left: 61px;
	top: 351px;
	position: absolute;
	overflow: visible;
	width: 16px;
	white-space: nowrap;
	line-height: 10px;
	margin-top: -1px;
	text-align: left;
	font-family: MyriadHebrew-Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 8px;
	color: rgba(254,255,255,1);
}
#Silenciar {
	left: 52.52px;
	top: 269.37px;
	position: absolute;
	overflow: visible;
	width: 30px;
	white-space: nowrap;
	line-height: 10px;
	margin-top: -1px;
	text-align: left;
	font-family: MyriadHebrew-Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 8px;
	color: rgba(254,255,255,1);
}
#ICallScreen {
	opacity: 0.62;
	left: 49.629px;
	top: 101.778px;
	position: absolute;
	overflow: visible;
	width: 73px;
	white-space: nowrap;
	line-height: 18px;
	margin-top: -1.5px;
	text-align: left;
	font-family: MyriadHebrew-Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(255,255,252,1);
}
#CallScreen {
	left: 28px;
	top: 63px;
	position: absolute;
	overflow: visible;
	width: 129px;
	white-space: nowrap;
	line-height: 33px;
	margin-top: -2.5px;
	text-align: left;
	font-family: MyriadHebrew-Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	color: rgba(254,255,255,1);
}
#ID0025 {
	left: 34.866px;
	top: 128.395px;
	position: absolute;
	overflow: visible;
	width: 20px;
	white-space: nowrap;
	line-height: 10px;
	margin-top: -1px;
	text-align: left;
	font-family: MyriadHebrew-Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 8px;
	color: rgba(254,255,255,1);
}
#Group_18 {
	position: absolute;
	width: 18.719px;
	height: 18.722px;
	left: 28.281px;
	top: 103.056px;
	overflow: visible;
}
#Path_9 {
	fill: rgba(33,150,242,1);
}
.Path_9 {
	overflow: visible;
	position: absolute;
	width: 18.719px;
	height: 18.722px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_10 {
	fill: rgba(253,254,254,1);
}
.Path_10 {
	overflow: visible;
	position: absolute;
	width: 10.525px;
	height: 10.526px;
	left: 4.102px;
	top: 4.1px;
	transform: matrix(1,0,0,1,0,0);
}