	.mediaViewInfo {
		--web-view-name: מסך 2;
		--web-view-id: _2;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	:root {
		--web-view-ids: _2;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#_2 {
		position: absolute;
		width: 275px;
		height: 567px;
		background-color: rgba(255,255,255,0.039);
		overflow: hidden;
		--web-view-name: מסך 2;
		--web-view-id: _2;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	#__ {
		left: 165px;
		top: 193px;
		position: absolute;
		overflow: visible;
		width: 103px;
		white-space: nowrap;
		text-align: center;
		font-family: Heebo;
		font-style: normal;
		font-weight: normal;
		font-size: 11px;
		color: rgba(0,0,0,1);
	}
	#_ {
		left: 207px;
		top: 234px;
		position: absolute;
		overflow: visible;
		width: 61px;
		white-space: nowrap;
		text-align: center;
		font-family: Heebo;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		color: rgba(0,0,0,1);
	}
	#___t {
		left: 157px;
		top: 401px;
		position: absolute;
		overflow: visible;
		width: 111px;
		white-space: nowrap;
		text-align: center;
		font-family: Heebo;
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		color: rgba(0,0,0,1);
	}
	#\\ {
		left: 233px;
		top: 276px;
		position: absolute;
		overflow: visible;
		width: 33px;
		white-space: nowrap;
		text-align: center;
		font-family: Heebo;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		color: rgba(0,0,0,1);
	}
	#_v {
		left: 231px;
		top: 319px;
		position: absolute;
		overflow: visible;
		width: 35px;
		white-space: nowrap;
		text-align: center;
		font-family: Heebo;
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		color: rgba(0,0,0,1);
	}
	#ID054 {
		left: 38px;
		top: 361px;
		position: absolute;
		overflow: visible;
		width: 19px;
		white-space: nowrap;
		text-align: center;
		font-family: Heebo;
		font-style: normal;
		font-weight: normal;
		font-size: 11px;
		color: rgba(113,113,113,1);
	}
	#_x {
		left: 227px;
		top: 360px;
		position: absolute;
		overflow: visible;
		width: 39px;
		white-space: nowrap;
		text-align: center;
		font-family: Heebo;
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		color: rgba(0,0,0,1);
	}
	#Line_11 {
		fill: transparent;
		stroke: rgba(0,0,0,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_11 {
		overflow: visible;
		position: absolute;
		width: 147.941px;
		height: 1px;
		left: 14.559px;
		top: 206.168px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_33 {
		fill: transparent;
		stroke: rgba(0,0,0,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_33 {
		overflow: visible;
		position: absolute;
		width: 192.893px;
		height: 1px;
		left: 12.5px;
		top: 248.075px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_13 {
		fill: transparent;
		stroke: rgba(0,0,0,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_13 {
		overflow: visible;
		position: absolute;
		width: 216.833px;
		height: 1px;
		left: 12.5px;
		top: 289.233px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_43 {
		fill: transparent;
		stroke: rgba(0,0,0,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_43 {
		overflow: visible;
		position: absolute;
		width: 215px;
		height: 1px;
		left: 12.5px;
		top: 330.392px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_34 {
		fill: transparent;
		stroke: rgba(0,0,0,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_34 {
		overflow: visible;
		position: absolute;
		width: 145px;
		height: 1px;
		left: 12.5px;
		top: 413.458px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Component_1__1 {
		position: absolute;
		width: 280px;
		height: 40px;
		left: -2px;
		top: 503px;
		overflow: visible;
	}
	#Rectangle_8 {
		fill: rgba(253,0,16,1);
	}
	.Rectangle_8 {
		position: absolute;
		overflow: visible;
		width: 281px;
		height: 41px;
		left: 0px;
		top: 0px;
	}
	#_ba {
		left: 121px;
		top: 10px;
		position: absolute;
		overflow: visible;
		width: 31px;
		white-space: nowrap;
		line-height: 25px;
		margin-top: -6px;
		text-align: center;
		font-family: Heebo;
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		color: rgba(255,255,255,1);
	}
	#__ba {
		left: 207px;
		top: 138px;
		position: absolute;
		overflow: visible;
		width: 57px;
		white-space: nowrap;
		line-height: 11px;
		margin-top: -1px;
		text-align: center;
		font-family: Heebo;
		font-style: normal;
		font-weight: bold;
		font-size: 9px;
		color: rgba(253,0,16,1);
	}
	#__bb {
		left: 11px;
		top: 138px;
		position: absolute;
		overflow: visible;
		width: 49px;
		white-space: nowrap;
		line-height: 11px;
		margin-top: -1px;
		text-align: center;
		font-family: Heebo;
		font-style: normal;
		font-weight: bold;
		font-size: 9px;
		color: rgba(113,113,113,1);
	}
	#__bc {
		left: 105px;
		top: 138px;
		position: absolute;
		overflow: visible;
		width: 65px;
		white-space: nowrap;
		line-height: 11px;
		margin-top: -1px;
		text-align: center;
		font-family: Heebo;
		font-style: normal;
		font-weight: bold;
		font-size: 9px;
		color: rgba(113,113,113,1);
	}
	#Line_30 {
		fill: transparent;
		stroke: rgba(253,0,16,1);
		stroke-width: 6px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_30 {
		overflow: visible;
		position: absolute;
		width: 83.066px;
		height: 6px;
		left: 197.154px;
		top: 125.85px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_31 {
		fill: transparent;
		stroke: rgba(113,113,113,1);
		stroke-width: 6px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_31 {
		overflow: visible;
		position: absolute;
		width: 77.827px;
		height: 6px;
		left: 99.122px;
		top: 125.85px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_32 {
		fill: transparent;
		stroke: rgba(113,113,113,1);
		stroke-width: 6px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_32 {
		overflow: visible;
		position: absolute;
		width: 86.059px;
		height: 6px;
		left: -3.401px;
		top: 125.85px;
		transform: matrix(1,0,0,1,0,0);
	}
	#_bc {
		left: 116px;
		top: 89px;
		position: absolute;
		overflow: visible;
		width: 43px;
		white-space: nowrap;
		line-height: 31px;
		margin-top: -9px;
		text-align: center;
		font-family: Heebo;
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		color: rgba(0,0,0,1);
	}
	#Rectangle_112 {
		fill: transparent;
		stroke: rgba(0,0,0,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_112 {
		position: absolute;
		overflow: visible;
		width: 52px;
		height: 15px;
		left: 17px;
		top: 361px;
	}
	#Rectangle_113 {
		fill: transparent;
		stroke: rgba(0,0,0,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_113 {
		position: absolute;
		overflow: visible;
		width: 135px;
		height: 15px;
		left: 86px;
		top: 361px;
	}
	#Path_143 {
		fill: transparent;
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_143 {
		overflow: visible;
		position: absolute;
		width: 7.642px;
		height: 4.528px;
		left: 24.44px;
		top: 367.061px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_41 {
		fill: transparent;
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_41 {
		overflow: visible;
		position: absolute;
		width: 10.477px;
		height: 1px;
		left: 71.433px;
		top: 368.557px;
		transform: matrix(1,0,0,1,0,0);
	}
	#___bh {
		left: 155px;
		top: 40px;
		position: absolute;
		overflow: visible;
		width: 103px;
		white-space: nowrap;
		line-height: 25px;
		margin-top: -6px;
		text-align: center;
		font-family: Heebo;
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		color: rgba(253,0,16,1);
	}
	#_bi {
		left: 36px;
		top: 40px;
		position: absolute;
		overflow: visible;
		width: 67px;
		white-space: nowrap;
		line-height: 25px;
		margin-top: -6px;
		text-align: center;
		font-family: Heebo;
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		color: rgba(112,112,112,1);
	}
	#Line_2 {
		fill: transparent;
		stroke: rgba(112,112,112,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_2 {
		overflow: visible;
		position: absolute;
		width: 133.319px;
		height: 2px;
		left: 0.366px;
		top: 64.539px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_3 {
		fill: transparent;
		stroke: rgba(253,0,16,1);
		stroke-width: 3px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_3 {
		overflow: visible;
		position: absolute;
		width: 130.389px;
		height: 3px;
		left: 143.94px;
		top: 64.539px;
		transform: matrix(1,0,0,1,0,0);
	}
	#form
	{
		text-align: right;
		font-family: Heebo;
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		color: rgba(0,0,0,1);
		filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.31));
		position: absolute;
		overflow: visible;
		width: 260px;
		//height: 125px;
		left: 8px;
		top: 170px;
		fill: rgba(255,255,255,1);
	}

	.error
{     
    color:red;     
    font-size: 10px; 
} 
