<ion-content [fullscreen]="true">

  <!-- <head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>
  
  <body>
    <div id="_2">
      <button routerLink="/login" routerLinkActive="activelink">
        <div id="__">
          <span>מגיש עזרה ראשונה</span>
        </div>
      </button>
        <button routerLink="/microphone" routerLinkActive="activelink">
        <div id="\">
          <span>מטופל/פצוע</span>
        </div>
      </button>
      <svg class="Line_2" viewBox="0 0 133.319 2">
        <path id="Line_2" d="M 0 0 L 133.3186798095703 0">
        </path>
      </svg>
      <svg class="Line_3" viewBox="0 0 130.389 3">
        <path id="Line_3" d="M 0 0 L 130.3885955810547 0">
        </path>
      </svg>
        <div id="___v">
          <span>שם פרטי/שם משתמש</span>
        </div>
        <div id="_">
          <span>שם משפחה</span>
        </div>
        <div id="___x">
          <span>מייל/ דואר אלקטרוני</span>
        </div>
        <div id="_y">
          <span>ת.זהות</span>
        </div>
        <div id="_z">
          <span>כתובת</span>
        </div>
        <div id="ID054">
          <span>054</span>
        </div>
        <div id="_ba">
          <span>פלאפון</span>
        </div>
        <svg class="Line_11" viewBox="0 0 147.941 1">
          <path id="Line_11" d="M 147.9405517578125 0 L 0 0">
          </path>
        </svg>
        <svg class="Line_33" viewBox="0 0 192.893 1">
          <path id="Line_33" d="M 192.8926391601563 0 L 0 0">
          </path>
        </svg>
        <svg class="Line_13" viewBox="0 0 216.833 1">
          <path id="Line_13" d="M 216.8329010009766 0 L 0 0">
          </path>
        </svg>
        <svg class="Line_43" viewBox="0 0 215 1">
          <path id="Line_43" d="M 215 0 L 0 0">
          </path>
        </svg>
        <svg class="Line_34" viewBox="0 0 145 1">
          <path id="Line_34" d="M 145 0 L 0 0">
          </path>
        </svg>
        <button routerLink="/cases" routerLinkActive="activelink">
          <div id="Component_1__1" class="Component_1___1">
            <svg class="Rectangle_8">
              <rect id="Rectangle_8" rx="0" ry="0" x="0" y="0" width="281" height="41">
              </rect>
            </svg>
            <div id="_bb">
              <span>הבא<</span>
            </div>
          </div>
        </button>
        <div id="__ba">
          <span>פרטים אישיים</span>
        </div>
        <div id="__bb">
          <span>צירוף תעודה</span>
        </div>
        <div id="__bc">
          <span>בחירת התמחויות</span>
        </div>
        <svg class="Line_30" viewBox="0 0 83.066 6">
          <path id="Line_30" d="M 83.06571197509766 0 L 0 0">
          </path>
        </svg>
        <svg class="Line_31" viewBox="0 0 77.827 6">
          <path id="Line_31" d="M 77.82733154296875 0 L 0 0">
          </path>
        </svg>
        <svg class="Line_32" viewBox="0 0 86.059 6">
          <path id="Line_32" d="M 86.05906677246094 0 L 0 0">
          </path>
        </svg>
        <div id="_bg">
          <span>הרשמה</span>
        </div>
        <svg class="Rectangle_112">
          <rect id="Rectangle_112" rx="0" ry="0" x="0" y="0" width="52" height="15">
          </rect>
        </svg>
        <svg class="Rectangle_113">
          <rect id="Rectangle_113" rx="0" ry="0" x="0" y="0" width="135" height="15">
          </rect>
        </svg>
        <svg class="Path_143" viewBox="669.704 404.956 6.228 3.114">
          <path id="Path_143"
            d="M 669.7037353515625 404.9563598632813 L 672.8178100585938 408.0704040527344 L 675.9318237304688 404.9563598632813">
          </path>
        </svg>
        <svg class="Line_41" viewBox="0 0 10.477 1">
          <path id="Line_41" d="M 0 0 L 10.47675609588623 0">
          </path>
        </svg>
    </div>
  </body> -->

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript"
    src="https://maps.googleapis.commaps/api/js?key=AIzaSyD7Wui1ikC-x4CMLYBpPz-8Yutf2l3glNo&sensor=true&libraries=places,geometry,drawing&sensor=true&language=he"></script>

  </head>

  <body>
    <div id="_2">
      <!-- <div id="__">
        <span>שם פרטי/שם משתמש</span>
      </div>
      <div class="Line_11">      
      </div>
      <div id="_">
        <span>שם משפחה</span> 

      </div>
      <div id="___t">
        <span>מייל/ דואר אלקטרוני</span>
      </div>
      <div id="\">
        <span>ת.זהות</span>
      </div>
      <div id="_v">
        <span>כתובת</span>
      </div>
      <div id="ID054">
        <span>054</span>
      </div>
      <div id="_x">
        <span>פלאפון</span>
      </div>
      
    
        <svg class="Line_11" viewBox="0 0 147.941 1">
          <path id="Line_11" d="M 147.9405517578125 0 L 0 0">
          </path>
        </svg>
    
      <svg class="Line_33" viewBox="0 0 192.893 1">
        <path id="Line_33" d="M 192.8926391601563 0 L 0 0">
        </path>
      </svg>
      <svg class="Line_13" viewBox="0 0 216.833 1">
        <path id="Line_13" d="M 216.8329010009766 0 L 0 0">
        </path>
      </svg>
      <svg class="Line_43" viewBox="0 0 215 1">
        <path id="Line_43" d="M 215 0 L 0 0">
        </path>
      </svg>
      <svg class="Line_34" viewBox="0 0 145 1">
        <path id="Line_34" d="M 145 0 L 0 0">
        </path>
      </svg> -->
      <button routerLink="/cases" routerLinkActive="activelink">
        <div id="Component_1__1" class="Component_1___1">
          <svg class="Rectangle_8">
            <rect id="Rectangle_8" rx="0" ry="0" x="0" y="0" width="281" height="41">
            </rect>
          </svg>
          <div id="_ba">
            <span>
              <הבא</span>
          </div>
        </div>
      </button>
      <div id="__ba">
        <span>פרטים אישיים</span>
      </div>
      <div id="__bb">
        <span>צירוף תעודה</span>
      </div>
      <div id="__bc">
        <span>בחירת התמחויות</span>
      </div>
      <svg class="Line_30" viewBox="0 0 83.066 6">
        <path id="Line_30" d="M 83.06571197509766 0 L 0 0">
        </path>
      </svg>
      <svg class="Line_31" viewBox="0 0 77.827 6">
        <path id="Line_31" d="M 77.82733154296875 0 L 0 0">
        </path>
      </svg>
      <svg class="Line_32" viewBox="0 0 86.059 6">
        <path id="Line_32" d="M 86.05906677246094 0 L 0 0">
        </path>
      </svg>
      <div id="_bc">
        <span>הרשמה</span>
      </div>
      <!-- <svg class="Rectangle_112">
        <rect id="Rectangle_112" rx="0" ry="0" x="0" y="0" width="52" height="15">
        </rect>
      </svg>
      <svg class="Rectangle_113">
        <rect id="Rectangle_113" rx="0" ry="0" x="0" y="0" width="135" height="15">
        </rect>
      </svg>
      <svg class="Path_143" viewBox="669.704 404.956 6.228 3.114">
        <path id="Path_143"
          d="M 669.7037353515625 404.9563598632813 L 672.8178100585938 408.0704040527344 L 675.9318237304688 404.9563598632813">
        </path>
      </svg>
      <svg class="Line_41" viewBox="0 0 10.477 1">
        <path id="Line_41" d="M 0 0 L 10.47675609588623 0">
        </path>
      </svg> -->
      <button routerLink="/login" routerLinkActive="activelink">
        <div id="___bh">
          <span>מגיש עזרה ראשונה</span>
        </div>
      </button>
      <button routerLink="/microphone" routerLinkActive="activelink">
        <div id="_bi">
          <span>מטופל/פצוע</span>
        </div>
      </button>
      <svg class="Line_2" viewBox="0 0 133.319 2">
        <path id="Line_2" d="M 0 0 L 133.3186798095703 0">
        </path>
      </svg>
      <svg class="Line_3" viewBox="0 0 130.389 3">
        <path id="Line_3" d="M 0 0 L 130.3885955810547 0">
        </path>
      </svg>
    </div>
    <!-- <ion-card id="font">
    <form [formGroup]="myForm">
      <div class="from-group">
          <label>שם פרטי</label>
          <input type="text" class="form-control" formControlName="firstName">
       
      </div>
  
      <div class="from-group">
          <ion-label>שם משפחה</ion-label>
          <ion-input type="text" class="form-control" formControlName="lastName"></ion-input>
        </div>
     

  </form> 
    </ion-card>-->
    <ion-card id="form">
      <form [formGroup]="myForm">
      <div class="from-group">
        <ion-label position="fixed" >שם פרטי</ion-label>
        <ion-input [(ngModel)]="doctor.Doctor.firstName" class="form-control" ></ion-input>
      </div>
      <div class="from-group">
        <ion-label position="fixed"  >שם משפחה</ion-label>
        <ion-input [(ngModel)]="doctor.Doctor.lastName" class="form-control"></ion-input>
      </div>
      <div class="from-group">
        <ion-label position="fixed"  >תעודת זהות</ion-label>
        <ion-input [(ngModel)]="doctor.Doctor.doctorId" class="form-control"></ion-input>
      </div>
      <div class="from-group">
        <label >כתובת<br></label>
       <!-- <ion-img src="../../assets/img/Location.png" style="height: 40px;"></ion-img>  -->
        <!-- <ion-input [(ngModel)]="doctor.Doctor.address"></ion-input> -->
        <input  ngx-google-places-autocomplete #placesRef="ngx-places"
          (onAddressChange)="handleDestinationChange($event)"
          [(ngModel)]="doctor.Doctor.address">‏
      </div>
      <div class="from-group">
        <ion-label position="fixed">פלאפון</ion-label>
        <ion-input [(ngModel)]="doctor.Doctor.doctorPhone" class="form-control" > </ion-input>
      </div>
      <div class="from-group">
        <ion-label position="fixed" >מייל\דואר אלקטרוני</ion-label>
        <ion-input class="form-control" ></ion-input>
      </div>
    </form>
  </ion-card>
  </body>
</ion-content>